{{ range $element :=  $.Site.Pages }}
  {{ if eq .Section "login" }}
    {{ if eq .Title "header" }}
        <div class="logo-container">
           <img src="/img/threefold.svg" alt="Threefold">
        </div>
        <header class="header">
           <div class="container">
              <div class="col-xs-12 col-sm-1"></div>
              <div class="col-xs-12 col-sm-4">
                <div class="sqs-block-content introWords">
                  <h1>{{ .Params.header_1 }}</h1>
                  <h2>{{ .Params.header_2 }}</h2>
                </div>
              </div>
           </div>
        </header>
    {{end}}
  {{end}}
{{end}}
