{{ range $element :=  $.Site.Pages }}
  {{ if eq .Section "login" }}
    {{ if eq .Title "header" }}
        <div class="logo-container">
           <img src="/img/threefold.svg" alt="Threefold">
        </div>
        <section class="Index-page Index-page--has-image header" style="min-height: calc(50vh - 96px);">
            <div class="Index-page-content">
               <nav class="navbar Header-nav center" role="navigation" id="nav" data-spy="affix" data-offset-top="133">
                 <!-- Brand and toggle get grouped for better mobile display -->
                 <div class="navbar-header navbar-inner">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>

                 </div>
                 <!-- Collect the nav links, forms, and other content for toggling -->
                 <div id="navbar" class="collapse navbar-collapse">
                     <ul class="nav navbar-nav left">
                       <li><a href="/" class="Header-nav-item">Home <span class="sr-only">(current)</span></a></li>
                       <li><a href="/how-it-works" class="Header-nav-item">How It Works</a></li>
                     </ul>
                 </div>
               </nav>
               <div class="col-xs-12 col-sm-1"></div>
               <div class="col-xs-12 col-sm-4">
                 <div class="sqs-block-content introWords">
                   <h1>{{ .Params.header_1 }}</h1>
                   <h2>{{ .Params.header_2 }}</h2>
                 </div>
               </div>
          </div>
        </section>
    {{end}}
  {{end}}
{{end}}
