<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/slippry.min.js"></script>
<script type="text/javascript" charset="utf-8">
   // Creating custom :external selector
   $.expr[':'].external = function(obj){
       return !obj.href.match(/^mailto\:/)
               && (obj.hostname != location.hostname);
   };
   
   $(function(){
     // Add 'external' CSS class to all external links
     $('a:external').addClass('external');
   
     // turn target into target=_blank for elements w external class
     $(".external").attr('target','_blank');
     $('a[href*="register"]').each(function() {
         $(this).attr('target', '_self');
     });

    // init smooth scroll
    var scroll = new SmoothScroll('a[href*="#"]');
    $('a[href^="#"]').on('click', function (e) {
            e.preventDefault();

            var target = this.hash,
                $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top - document.getElementById('nav').offsetHeight  //get top-position of target-element and set it as scroll target
            }, 900, function () {
                window.location.hash = target;
            });
        });
   
   })
   
</script>