http://gigtech2.aydo.com:6060/ {
    bind 0.0.0.0
    gzip
    root  www.gig.tech/en

    git {
        repo ssh://git@docs.greenitglobe.com:10022/gig/www_gig.tech2.0.git
        branch master
        interval 300
        key ../keys/id_rsa-new
        path ../..
        then hugo -s www.gig.tech
    }
    errors ../error.log {
    	404 404.html # Not Found
    }
}
