{{ range $element :=  .Data.Pages }}
  {{ if eq .Section "home" }}
    {{ if eq .Title "bigger picture" }}
<div class="row sqs-row" id="yui_3_17_2_1_1498864945728_134">
   <div class="col sqs-col-2 span-2">
      <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_10_1498555190027_49163">
         <div class="sqs-block-content">&nbsp;</div>
      </div>
   </div>
   <div class="col sqs-col-8 span-8" id="yui_3_17_2_1_1498864945728_133">
      <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_6_1498560326822_464056">
         <div class="sqs-block-content" id="yui_3_17_2_1_1498864945728_132">
            <div class="image-block-outer-wrapper layout-caption-below design-layout-inline" id="yui_3_17_2_1_1498864945728_131">
               <div class="intrinsic" style="max-width:2500.0px;" id="yui_3_17_2_1_1498864945728_130">
                  <div style="padding-bottom:66.43999481201172%;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_1_1498864945728_129">
                     <noscript><img src="img/{{ .Params.image }}"  /></noscript>
                     <img class="thumb-image loaded" data-src="img/{{ .Params.image }}" data-image="img/{{ .Params.image }}" data-image-dimensions="2500x1661" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5952435186e6c0aa3ad1ce51" data-type="image" style="top: 0%; left: -0.00154163%; width: 100.003%; height: 100%; position: absolute;" src="img/{{ .Params.image }}" data-image-resolution="750w">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col sqs-col-2 span-2">
      <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_10_1498555190027_50746">
         <div class="sqs-block-content">&nbsp;</div>
      </div>
   </div>
</div>
<div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-yui_3_17_2_2_1498747640142_75828">
   <div class="sqs-block-content">
      <h2 id="the-bigger-picture">{{ .Params.header }}</h2>
      <p>{{ .Content }}</p>
   </div>
</div>
<!-- end -->
{{end}}
{{end}}
{{end}}
