<main class="Main Main--page">
   <section class="Main-content ambassador-faq">
      <div class="sqs-layout col-xs-12">
         <div class="row">
            <div class="col-xs-12">
               <div class="sqs-block markdown-block sqs-block-markdown">
                  <div class="sqs-block-content">
                     <h1>{{ .Params.header }}</h1>
                  </div>
               </div>
               <div class="sqs-block markdown-block sqs-block-markdown">
                  <div class="sqs-block-content">
                     {{ .Content }}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
