<div class="community">

  <!-- ambassdors sec -->
  <div class="ambassdors">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <h2>{{ .Params.ambassadors_header }}</h2>
      <p>{{ .Params.ambassadors_sub }}</p>
      <p>{{ .Params.ambassadors_sub2 }}</p>
    </div>
    <div class="col-sm-7">
      <div id="ambassadors"></div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="clear-fix"></div>
  
  <!-- hosters sec -->
  <div class="hosters">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <h2>{{ .Params.hosters_header}}</h2>
      <p>{{ .Params.hosters_sub }}</p>
      <p>{{ .Params.hosters_sub2 }}</p>
    </div>
    <div class="col-sm-7">
      <div id="hosters"></div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="clear-fix"></div>

  <!-- ops sec -->
  <div class="ops">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <h2>{{ .Params.ops_header }}</h2>
      <p>{{ .Params.ops_sub }}</p>
      <p>{{ .Params.ops_sub2 }}</p>
    </div>
    <div class="col-sm-7">
      <div id="operators"></div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>