<main class="Index">
  <section class="Index-page overview-ambassadors">
     <div class="Index-page-scroll-indicator">
        <div class="Index-page-scroll-indicator-text"></div>
        <svg class="Index-page-scroll-indicator-arrow Icon Icon--caretLarge--down" viewBox="0 0 48 23">
           <use xlink:href="/assets/ui-icons.svg#caret-down-large-icon"></use>
        </svg>
        <div class="Index-page-scroll-indicator-line"></div>
     </div>
     <div class="Index-page-content container">
        <div class="sqs-layout col-xs-12">
           <div class="row">
              <div class="col-xs-12">
                 <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                    <div class="sqs-block-content">&nbsp;</div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
  <section class="Index-page our-mission-and-goals">
     <div class="Index-page-content container">
        <div class="sqs-layout col-xs-12">
           <div class="row">
              <div class="col-sm-1">
                 <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                    <div class="sqs-block-content">&nbsp;</div>
                 </div>
              </div>
              <div class="col-sm-3">
                 <div class="sqs-block markdown-block sqs-block-markdown">
                    <div class="sqs-block-content">
                       <h2 id="our-30-first-ambassadors-">Our 30 first ambassadors.</h2>
                       <p>Our Ambassadors are the first 30 people who are supporting us on our
                          journey to a better world. Each of them believes in our values and
                          mission and are proud Token holders.
                       </p>
                       <p>Together these 30 people serve on our community board driving the Foundation forward.</p>
                    </div>
                 </div>
              </div>
              <div class="col-sm-7">
                 <div class="sqs-block image-block sqs-block-image sqs-text-ready">
                    <div class="sqs-block-content">
                      <div id="ambassadors"></div>
                    </div>
                 </div>
              </div>
              <div class="col-sm-1">
                 <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                    <div class="sqs-block-content">&nbsp;</div>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-sm-12">
                 <div class="row">
                    <div class="col-sm-1">
                       <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                          <div class="sqs-block-content">&nbsp;</div>
                       </div>
                    </div>
                    <div class="col-sm-3">
                       <div class="sqs-block markdown-block sqs-block-markdown">
                          <div class="sqs-block-content">
                             <h2 id="our-200-first-hosters-">Our 200 first hosters.</h2>
                             <p>Our Hosters are the first 200 individual Hosters putting capacity on
                                our network. Each of them believes in what we do, and they want to help
                                to make this dream reality.
                             </p>
                             <p>Each of them put at least 5TB of storage and 8 logical CPU cores of computing capacity onto our Grid.</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-7">
                       <div class="sqs-block image-block sqs-block-image sqs-text-ready">
                          <div class="sqs-block-content">
                            <div id="hosters"></div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-sm-1">
                 <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                    <div class="sqs-block-content">&nbsp;</div>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-xs-12">
                 <div class="row">
                    <div class="col-sm-1">
                       <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                          <div class="sqs-block-content">&nbsp;</div>
                       </div>
                    </div>
                    <div class="col-sm-3">
                       <div class="sqs-block markdown-block sqs-block-markdown">
                          <div class="sqs-block-content">
                             <h2 id="our-10-first-operators-">Our 10 first operators.</h2>
                             <p>Our Operators are the first 10 commercial operators putting capacity
                                on our network. Each of them endorses our technology and recognises the
                                value in our Grid.
                             </p>
                             <p>Each of them put at least 500TB of storage &amp; 800 logical CPU
                                cores of compute capacity onto our grid. This capacity is hosted in
                                multiple high performances, reliable locations well connected the
                                internet through multiple paths.
                             </p>
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-7">
                       <div class="sqs-block image-block sqs-block-image sqs-text-ready">
                          <div class="sqs-block-content">
                            <div id="operators"></div>
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-1">
                       <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                          <div class="sqs-block-content">&nbsp;</div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
</main>
