<main class="Index">
  <section class="Index-page our-mission-and-goals">
     <div class="Index-page-content">
        <div class="sqs-layout col-xs-12">
           <div class="row">
              <div class="col-sm-1">
                 <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                    <div class="sqs-block-content">&nbsp;</div>
                 </div>
              </div>
              <div class="col-sm-3">
                 <div class="sqs-block markdown-block sqs-block-markdown">
                    <div class="sqs-block-content">
                       <h2>Our 30 first ambassadors.</h2>
                       <p>Our Ambassadors are the first 30 people who are supporting us on our
                          journey to a better world. Each of them believes in our values and
                          mission and are proud Token holders.
                       </p>
                       <p>Together these 30 people serve on our community board driving the Foundation forward.</p>
                    </div>
                 </div>
              </div>
              <div class="col-sm-8">
                 <div class="sqs-block image-block sqs-block-image sqs-text-ready">
                    <div class="sqs-block-content">
                      <div id="ambassadors"></div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-sm-12">
                 <div class="row">
                    <div class="col-sm-1">
                       <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                          <div class="sqs-block-content">&nbsp;</div>
                       </div>
                    </div>
                    <div class="col-sm-3">
                       <div class="sqs-block markdown-block sqs-block-markdown">
                          <div class="sqs-block-content">
                             <h2>Our 200 first hosters.</h2>
                             <p>Our TF Miners are the first 200 individuals who received a ThreeFold Node and 
                              want to help us to get neutral capacity out which is used to run our own blockchain which is used 
                              to host the TF Directory and ItsYou.Online.
                            </p>
                            <p>
                              Each of them put at least 1TB of storage and 4 logical CPU cores of computing capacity onto our Grid.
                            </p>
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-8">
                       <div class="sqs-block image-block sqs-block-image sqs-text-ready">
                          <div class="sqs-block-content">
                            <div id="hosters"></div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-xs-12">
                 <div class="row">
                    <div class="col-sm-1">
                       <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                          <div class="sqs-block-content">&nbsp;</div>
                       </div>
                    </div>
                    <div class="col-sm-3">
                       <div class="sqs-block markdown-block sqs-block-markdown">
                          <div class="sqs-block-content">
                             <h2>Our 10 first operators.</h2>
                             <p>Our TF Operator Miners are the first 10 commercial operators putting capacity
                                on our network. These Operator Miners register their capacity to our TF Directory.
                             </p>
                             <p>Each of them put at least 500TB of storage &amp; 800 logical CPU
                                cores of compute capacity onto our grid. This capacity is hosted in
                                multiple high performances, reliable locations well connected the
                                internet through multiple paths.
                             </p>
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-8">
                       <div class="sqs-block image-block sqs-block-image sqs-text-ready">
                          <div class="sqs-block-content">
                            <div id="operators"></div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
</main>
