<main class="Index">
  <section class="new-page-1" class="Index-page Index-page--has-image" >
   <div class="Index-page-content  sqs-alternate-block-style-container container">
      <div class="sqs-layout col-xs-12">
         <div class="row">
            <div class="col-xs-12">
               <div class="sqs-block html-block sqs-block-html">
                  <div class="sqs-block-content">
                     <h1 class="text-align-center">CONTRIBUTE TO THE FOUNDATION BEFORE THE PTO</h1>
                     <p class="text-align-center"><br>We would be delighted if you would be willing to support us by investing in the ThreeFold Token,<br>but we are also looking for TF Operators, TF Hosters and TF Ambassadors.</p>
                  </div>
               </div>
               <div class="sqs-block button-block sqs-block-button">
                  <div class="sqs-block-content">
                     <div class="sqs-block-button-container--center center">
                        <a href="http://www.threefoldtoken.com/about-us" class="sqs-block-button-element--medium sqs-block-button-element" data-initialized="true">WILLING TO HELP? WE ARE LOOKING FOR AMBASSADORS, HOSTERS AND OPERATORS.</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
  </section>
</main>
