<main class="Index">
   <section lass="Index-page contact-us">
      <div class="Index-page-scroll-indicator">
         <div class="Index-page-scroll-indicator-text"></div>
         <svg class="Index-page-scroll-indicator-arrow Icon Icon--caretLarge--down">
            <use xlink:href="/assets/ui-icons.svg#caret-down-large-icon"></use>
         </svg>
         <div class="Index-page-scroll-indicator-line"></div>
      </div>
      <div class="Index-page-content ">
         <div class="sqs-layout col-xs-12">
            <div class="row">
               <div class="col-sm-12">
                  <div class="row">
                     <div class="col-sm-2">
                        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                           <div class="sqs-block-content">&nbsp;</div>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="sqs-block html-block sqs-block-html">
                           <div class="sqs-block-content">
                              <h2 style="color: #757575;">{{ .Params.header }}</h2>
                           </div>
                        </div>
                        <div class="sqs-block form-block sqs-block-form">
                           <div class="sqs-block-content">
                              <div class="form-wrapper">
                                 <div class="form-inner-wrapper">
                                    <form autocomplete="on" id="contact-us" name="contact-us" action="post">
                                       <div class="field-list clear">
                                         <div class="form-item field text">
                                            <label class="title">Name</label>
                                            <input class="field-element text" type="text" name="name" id="name">
                                         </div>
                                          <div class="form-item field email required">
                                             <label class="title">Email Address <span class="required">*</span></label>
                                             <input class="field-element" name="email" id="email" x-autocompletetype="email" spellcheck="false" type="text">
                                          </div>
                                          <div class="form-item field checkbox required">
                                             <div class="title">I would like to <span class="required">*</span></div>
                                             <div class="option"><label><input value="become a founding partner" type="checkbox"> become a founding partner</label></div>
                                             <div class="option"><label><input value="buy tokens" type="checkbox"> buy tokens</label></div>
                                             <div class="option"><label><input value="become a threefold hoster" type="checkbox"> become a threefold hoster</label></div>
                                             <div class="option"><label><input value="buy capacity from the threefold grid" type="checkbox"> buy capacity from the threefold grid</label></div>
                                             <div class="option"><label><input value="play with a Zero Node / Test your Grid" type="checkbox"> play with a Zero Node / Test your Grid</label></div>
                                             <div class="option"><label><input value="just curious" type="checkbox"> just curious</label></div>
                                          </div>
                                          <div class="form-item field checkbox">
                                             <div class="title">I would like to be informed:</div>
                                             <div class="option"><label><input value="Public Token Offering Newsletter" type="checkbox"> Public Token Offering Newsletter</label></div>
                                             <div class="option"><label><input value="Investor Information" type="checkbox"> Investor Information</label></div>
                                             <div class="option"><label><input value="Grid Expansion (the new internet)" type="checkbox"> Grid Expansion (the new internet)</label></div>
                                          </div>
                                          <div class="form-item field textarea">
                                             <label class="title">Message</label>
                                             <textarea class="field-element "></textarea>
                                          </div>
                                          <div class="form-item field text">
                                             <label class="title">Country</label>
                                             <input class="field-element text" placeholder="(e.g. Ireland or Éire )" type="text">
                                          </div>
                                       </div>
                                       <div class="form-button-wrapper form-button-wrapper--align-left">
                                          <input class="button sqs-system-button sqs-editable-button" value="Submit" id="submit" type="submit">
                                       </div>
                                       <div class="hidden form-submission-text">Thank you!</div>
                                       <div class="hidden form-submission-html"></div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                           <div class="sqs-block-content">&nbsp;</div>
                        </div>
                     </div>
                  </div>
                  <div class="sqs-block spacer-block sqs-block-spacer">
                     <div class="sqs-block-content sqs-intrinsic" style="padding-bottom: 0.0455581%;">&nbsp;</div>
                  </div>
                  <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                     <div class="sqs-block-content">&nbsp;</div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                           <div class="sqs-block-content">&nbsp;</div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                           <div class="sqs-block-content">&nbsp;</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <nav class="Index-nav">
      <div class="Index-nav-inner">
         <a href="#contact-us" class="Index-nav-item active">
            <div class="Index-nav-indicator"></div>
            <div class="Index-nav-text"><span>Contact Us</span></div>
         </a>
      </div>
   </nav>
</main>
