<main class="Index">
  <section class="new-page-1" class="Index-page Index-page--has-image" >
   <div class="Index-page-content  sqs-alternate-block-style-container contribute">
      <div class="sqs-layout col-xs-12">
         <div class="row">
            <div class="col-xs-12">
               <div class="sqs-block html-block sqs-block-html">
                  <div class="sqs-block-content center">{{ .Content }}</div>
               </div>
               <div class="sqs-block button-block sqs-block-button">
                  <div class="sqs-block-content">
                     <div class="sqs-block-button-container--center center">
                        <a href="{{ .Params.button_link }}" class="sqs-block-button-element--medium" data-initialized="true" target="_blank">{{ .Params.button_name }}</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
  </section>
</main>
