<div class="faq center">
      <div class="col-sm-12">
            <article class="faq-item clear-fix ">
                  <div class="faq-image">
                        <a href="{{ .Permalink }}" class="faq-link">
                              <img title="{{ .Title }}" alt="{{ .Title }}" src="{{ .Params.image }}">
                        </a>
                  </div>
                  <a href="{{ .Permalink }}" class="faq-title">{{ .Title }}</a>
                  <div class="faq-excerpt">
                        <p>{{ .Params.subtitle }}</p>
                        <a href="/" class="faq-readmore"></a>
                  </div>
                  <div class="Blog-meta faq-item-meta">
                        <!-- Author -->
                        <a href="{{ .Permalink }}" class="faq-author">{{ .Params.author }}</a>
                        <!-- Date -->
                        <!-- <time class="Blog-meta-item">June 27, 2017</time> -->
                  </div>
            </article>
      </div>
</div>