<div class="Content-outer">
   <main class="Main Main--blog-item">
      <section class="Main-content">
         <article class="BlogItem">
            <div class="sqs-layout">
               <div class="row">
                  <div class="col-sm-2 col-xs-12"></div>
                        <div class="col-sm-8 col-xs-12">
                              <h1 class="BlogItem-title">{{ .Params.header }}</h1>
                              <div class="sqs-block markdown-block sqs-block-markdown">
                                    <div class="sqs-block-content"> {{ .Content }} </div>
                              </div>
                        </div>
                  </div>
            </div>
         </article>
      </section>
   </main>
</div>
