<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="col-sm-12 center">
    <article class="info-item clear-fix">
      <div class="info-image">
        <a href="{{ .Permalink }}" class="info-link">
          <img title="{{ .Title }}" alt="{{ .Title }}" src="{{ .Params.image }}">
        </a>
      </div>

      <div class="Blog-meta info-item-meta">
        <!-- Author -->
        <a href="{{ .Permalink }}" class="info-author">{{ .Params.author }}</a>
        <!-- Date -->
        <!-- <time class="Blog-meta-item">June 27, 2017</time> -->
      </div>
      <a href="{{ .Permalink }}" class="info-title">{{ .Title }}</a>
      <div class="info-excerpt">
        <p>{{ .Params.subtitle }}</p>
        <a href="/" class="info-readmore"></a>
      </div>
    </article>
  </div>
</div>
<div class="col-sm-1"></div>