<style>

</style>
<div class="investors">
    <div class="col-sm-1"></div>

    <div class="col-sm-10 content-wrapper">
        <div class="content-home center">
            <h1>{{ .Params.co_header }}</h1>
        </div>
        <div class="col-sm-2 investors-logo">
            <a href="{{ .Params.bancadati_link }}" target="_blank">
                <img src="{{ .Params.bancadati_img }}" alt="Bancadati"> </a>
        </div>
        <div class="col-sm-2 investors-logo">
            <a href="{{ .Params.bt_link }}" target="_blank">
                <img src="{{ .Params.bt_img }}" alt="Bettertoken">
            </a>
        </div>
        <div class="col-sm-2 investors-logo">
            <a href="{{ .Params.gigEU_link }}" target="_blank">
                <img src="{{ .Params.gigEu_img }}" alt="Gig Europe">
            </a>
        </div>
        <div class="col-sm-2 investors-logo">
            <a href="{{ .Params.maz_link }}" target="_blank">
                <img src="{{ .Params.maz_img }}" style="width:70%;" alt="Mazraa">
            </a>
        </div>
        <div class="col-sm-2 investors-logo">
            <a href="{{ .Params.safeCi_link }}" target="_blank">
                <img src="{{ .Params.safeCi_img }}" style="width:70%;" alt="Safe City">
            </a>
        </div>
    </div>

    <div class="col-sm-1"></div>
</div>