{{ if eq .Section "how-it-works" }}
  {{ partial "login/login_head.html" . }}
  {{ partial "body.html" . }}
  {{ partial "how-it-works_header.html" . }}
{{else}}
{{ partial "head.html" . }}
   {{ partial "body.html" . }}
     {{ if eq .Section "pto" }}
         {{ partial "pto-header.html" . }}
      {{ else if eq .Section "ito" }}
          {{ partial "ito-header.html" . }}
      {{ else if eq .Section "gettingstarted" }}
          {{ partial "gettingstarted-header.html" . }}
       {{else}}
      {{ partial "header.html" . }}
      {{end}}
{{end}}
      <div class="Site-inner">
          <div class="clear-fix">
            {{ range $p := (.Paginate .Data.Pages).Pages }}
            	{{ if eq .Section "faq" }}
          		  <div class="col-sm-4 col-xs-12">{{ $p.Render "faq" }}</div>
          	  {{else if eq .Section "information" }}
                <div class="col-sm-4 col-xs-12">{{ $p.Render "information" }}</div>
                  {{ else if eq .Section "team" }}
                    {{ if eq .Title "team"}}
                      <div class="Content-outer">{{ $p.Render "team" }}</div>
                      {{end}}
                  {{ else if eq .Section "app" }}
                  <div class="Content-outer">{{ $p.Render "app" }}</div>
                  {{ else if eq .Section "privacy-policy" }}
                  <div class="Content-outer">{{ $p.Render "privacy-policy" }}</div>
                  {{ else if eq .Section "community" }}
                  <div class="Content-outer">{{ $p.Render "community" }}</div>
                  {{ else if eq .Section "team-test" }}
                  <div class="Content-outer">{{ $p.Render "team-test" }}</div>
                  {{ else if eq .Section "governance" }}
                  <div class="Content-outer">{{ $p.Render "governance" }}</div>
                  {{ else if eq .Section "403" }}
                  <div class="Content-outer">{{ $p.Render "403" }}</div>
                  {{ else if eq .Section "ambassador" }}
                  <div class="Content-outer">{{ $p.Render "ambassador" }}</div>
                  {{ else if eq .Section "how-it-works" }}
                  <div class="Content-outer">{{ $p.Render "how-it-works" }}</div>
                  {{ else if eq .Section "pto" }}
                    {{ if eq .Title "pto" }}
                      <div class="Content-outer">{{ $p.Render "pto" }}</div>
                    {{ else if eq .Title "contribute" }}
                      <div class="Content-outer">{{ $p.Render "contribute" }}</div>
                    {{end}}
                    {{ else if eq .Section "ito" }}
                      {{ if eq .Title "ito" }}
                        <div class="Content-outer">{{ $p.Render "ito" }}</div>
                      {{ else if eq .Title "contribute" }}
                        <div class="Content-outer">{{ $p.Render "contribute" }}</div>
                        {{end}}
                    {{ else if eq .Section "gettingstarted" }}
                      {{ if eq .Title "gettingstarted" }}
                        <div class="Content-outer">{{ $p.Render "gettingstarted" }}</div>
                      {{ else if eq .Title "contribute" }}
                        <div class="Content-outer">{{ $p.Render "contribute" }}</div>
                        {{end}}
                  {{else}}
    						<div class="Content-outer">{{ $p.Render "summary" }}</div>
          	  {{end}}
            {{ end }}
            {{ range .Data.Pages }}
              {{ if eq .Section "team" }}
                {{ if eq .Title "new team" }}
                <section class="rj-section">{{ .Render "new-team" }}</section>
                {{end}}
              {{end}}
            {{end}}
          </div>
      </div>
       {{ partial "footer.html" . }}
   </div>
   {{ partial "js.html" . }}
</body>
</html>
