{{ partial "head.html" . }}
   {{ partial "parallax.html" . }}
     {{ if eq .Section "pto" }}
         {{ partial "pto-header.html" . }}
      {{ else if eq .Section "ito" }}
          {{ partial "ito-header.html" . }}
      {{ else if eq .Section "gettingstarted" }}
          {{ partial "gettingstarted-header.html" . }}
       {{else}}
      {{ partial "header.html" . }}
      {{end}}
      <div class="container Site-inner">
          <div class="row clear-fix">
            {{ range $p := (.Paginate .Data.Pages).Pages }}
            	{{ if eq .Section "faq" }}
          		  <div class="col-sm-4 col-xs-12">{{ $p.Render "faq" }}</div>
          	  {{else if eq .Section "information" }}
                <div class="col-sm-4 col-xs-12">{{ $p.Render "information" }}</div>
                  {{ else if eq .Section "team" }}
                    {{ if eq .Title "team"}}
                      <div class="Content-outer">{{ $p.Render "team-test" }}</div>
                      {{end}}
                  {{ else if eq .Section "app" }}
                  <div class="Content-outer">{{ $p.Render "app" }}</div>
                  {{ else if eq .Section "privacy-policy" }}
                  <div class="Content-outer">{{ $p.Render "privacy-policy" }}</div>
                  {{ else if eq .Section "community" }}
                  <div class="Content-outer">{{ $p.Render "community" }}</div>
                  {{ else if eq .Section "team-test" }}
                  <div class="Content-outer">{{ $p.Render "team-test" }}</div>
                  {{ else if eq .Section "governance" }}
                  <div class="Content-outer">{{ $p.Render "governance" }}</div>
                  {{ else if eq .Section "ambassador" }}
                  <div class="Content-outer">{{ $p.Render "ambassador" }}</div>
                  {{ else if eq .Section "pto" }}
                    {{ if eq .Title "pto" }}
                      <div class="Content-outer">{{ $p.Render "pto" }}</div>
                    {{ else if eq .Title "contribute" }}
                      <div class="Content-outer">{{ $p.Render "contribute" }}</div>
                    {{end}}
                    {{ else if eq .Section "ito" }}
                      {{ if eq .Title "ito" }}
                        <div class="Content-outer">{{ $p.Render "ito" }}</div>
                      {{ else if eq .Title "contribute" }}
                        <div class="Content-outer">{{ $p.Render "contribute" }}</div>
                        {{end}}
                    {{ else if eq .Section "gettingstarted" }}
                      {{ if eq .Title "gettingstarted" }}
                        <div class="Content-outer">{{ $p.Render "gettingstarted" }}</div>
                      {{ else if eq .Title "contribute" }}
                        <div class="Content-outer">{{ $p.Render "contribute" }}</div>
                        {{end}}
                  {{else}}
    						<div class="Content-outer">{{ $p.Render "summary" }}</div>
          	  {{end}}
            {{ end }}
            {{ range .Data.Pages }}
              {{ if eq .Section "team" }}
                {{ if eq .Title "complete" }}
                    <div class="Content-outer">{{ .Render "complete" }}</div>
                {{end}}
              {{end}}
            {{end}}
          </div>
      </div>
       {{ partial "footer.html" . }}
   </div>
   {{ partial "js.html" . }}
   <!-- <script src="js/site-bundle.js" type="text/javascript"></script> -->
   <!-- <script type="text/javascript" data-sqs-type="imageloader-bootstraper">(function() {if(window.ImageLoader) { window.ImageLoader.bootstrap({}, document); }})();</script><script>Squarespace.afterBodyLoad(Y);</script> -->
</body>
</html>
