<style>
.main-participate{
    background: url('../img/participate.jpg') no-repeat;
    background-position: right;
    background-color: #f1f1f1;
    height: 435px;
  }

  .BG-cover {
      position: relative;
  }
  .BG-cover:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .7;
      background-color: #fff;
  }

  .block-participate {
    color: #363636;
    text-align: center;
    margin: 90px auto;
  }

.participate_header{
    font-size: 23px !important;
    font-weight: 400;
    margin-bottom:20px;
    line-height: 140%;
    text-transform: uppercase;
    letter-spacing: 0.13em;
  }

.participate_para2{
        font-size: 18px !important;
        letter-spacing: 0.12em;
        line-height: 140%;
        font-family: "open sans";
  }

</style>

<div class="main-participate BG-cover" id="pricing" >
  <div class="col-sm-2"></div>
  <div class="col-sm-8 block-participate">
    <h1 class="participate_header">{{ .Params.header }}</h1>
    <p class="participate_para2">{{ .Params.text1 }}</p>
    <p class="participate_para2">{{ .Params.text2 }}</p>
    <br>
    <p class="participate_para2">{{ .Params.text3 }}</p>
  </div>
  <div class="col-sm-2"></div>
</div>
