<main class="Index">
  <section class="Index-page summary-offering-terms-1">
      <div class="Index-page-content">
        <div class="sqs-layout col-xs-12">
            <div class="row">
              <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-2">
                        <div class="sqs-block spacer-block sqs-block-spacer">
                          <div class="sqs-block-content">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h1 class="BlogItem-title">{{ .Params.header }}</h1>                            
                        <div class="sqs-block html-block sqs-block-html">
                          <div class="sqs-block-content">{{ .Content }}</div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                  </div>
              </div>
            </div>
        </div>
      </div>
  </section>
</main>