<div class="Content-outer">
   <main class="Main Main--blog-item">
      <section class="Main-content sqs-frontend-overlay-editor-widget-host" data-content-field="main-content">
         <article class="BlogItem hentry author-roel-van-sabben post-type-text sqs-frontend-overlay-editor-widget-host" data-item-id="595247876b8f5b75fd238eb9">

            <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Post Body" data-type="item" data-updated-on="1498564505529">
               <div class="row">
               <div class="col-sm-2 col-xs-12"></div>
                  <div class="col-sm-8 col-xs-12">
                    <h1 class="BlogItem-title" data-content-field="title">{{ .Params.header }}</h1>
                     <div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44">
                        <div class="sqs-block-content"> {{ .Content }} </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="Blog-meta BlogItem-meta"></div>
            <div class="BlogItem-share">
               <div class="Share sqs-share-buttons" data-item-identifier="595247876b8f5b75fd238eb9" data-item-path="blog/2017/6/27/ethical-product-design-manifesto">
                  <div class="Share-buttons"></div>
               </div>
            </div>
         </article>
      </section>
   </main>
</div>
