<div class="solution center" id="solution">
    <div class="col-sm-12">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <img src="{{ .Params.img }}" alt="ThreeFold">
            <div class="sol-content">
                {{ .Content }}
            </div>
        </div>
        <div class="col-sm-1"></div>

        <div class="clear-fix"></div>

        <div class="sol-details center">
            <div class="col-sm-12">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-xs-6 col-md-4">
                            <img src="{{ .Params.grid_img_1 }}" alt="{{ .Params.grid_txt_1 }}">
                            <h1>{{ .Params.grid_txt_1 }}</h1>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <img src="{{ .Params.grid_img_2 }}" alt="{{ .Params.grid_txt_2}}">
                            <h1>{{ .Params.grid_txt_2 }}</h1>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <img src="{{ .Params.grid_img_3 }}" alt="{{ .Params.grid_txt_3 }}">
                            <h1>{{ .Params.grid_txt_3 }}</h1>
                        </div>
                    
                        <div class="col-xs-6 col-md-4">
                            <img src="{{ .Params.grid_img_4 }}" alt="{{ .Params.grid_txt_4 }}">
                            <h1>{{ .Params.grid_txt_4 }}</h1>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <img src="{{ .Params.grid_img_5 }}" alt="{{ .Params.grid_txt_5 }}">
                            <h1>{{ .Params.grid_txt_5 }}</h1>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <img src="{{ .Params.grid_img_6 }}" alt="{{ .Params.grid_txt_6 }}">
                            <h1>{{ .Params.grid_txt_6 }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</div>
