<main class="Index">
  <section class="Index-page our-mission-and-goals">
     <div class="Index-page-content">
        <div class="sqs-layout col-xs-12">
           <div class="row">
              <div class="col-sm-1">
                 <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                    <div class="sqs-block-content">&nbsp;</div>
                 </div>
              </div>
              <div class="col-sm-3">
                 <div class="sqs-block markdown-block sqs-block-markdown">
                    <div class="sqs-block-content">
                      {{ .Content }}
                    </div>
                 </div>
              </div>
              <div class="col-sm-8">
                 <div class="sqs-block image-block sqs-block-image sqs-text-ready">
                    <div class="sqs-block-content">
                      <div id="team-test"></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
</main>
