<main class="Index">
  <section class="Index-page our-mission-and-goals">
     <div class="Index-page-content container">
        <div class="sqs-layout col-xs-12">
           <div class="row">
              <div class="col-sm-1">
                 <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                    <div class="sqs-block-content">&nbsp;</div>
                 </div>
              </div>
              <div class="col-sm-3">
                 <div class="sqs-block markdown-block sqs-block-markdown">
                    <div class="sqs-block-content">
                       <h2>{{ .Params.header }}</h2>
                       <p>{{ .Content }}</p>
                    </div>
                 </div>
                 <div class="sqs-block button-block sqs-block-button">
                    <div class="sqs-block-content">
                       <div class="sqs-block-button-container--left">
                          <!-- <a href="{{ .Params.register_link }}" class="sqs-block-button-element--medium sqs-block-button-element">{{ .Params.register_txt }}</a> -->
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-sm-7">
                 <div class="sqs-block image-block sqs-block-image sqs-text-ready">
                    <div class="sqs-block-content">
                      <div id="team-test"></div>
                    </div>
                 </div>
              </div>
              <div class="col-sm-1">
                 <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                    <div class="sqs-block-content">&nbsp;</div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
</main>
