<div class="team">

  <!-- threefold sec -->
  <div class="threefold-team">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <h2>{{ .Params.threefold_header }}</h2>
      <p>{{ .Params.threefold_sub }}</p>
    </div>

    <div class="col-sm-7">
      <div id="threefold" class="team-member"></div>
    </div>
  </div>

  <div class="clear-fix"></div>

  <!-- tech sec -->
  <div class="tech">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <h2>{{ .Params.tech_header }}</h2>
      <p>{{ .Params.tech_sub }}</p>
    </div>
    <div class="col-sm-7">
      <div id="tech" class="team-member" style="height:100vh;"></div>
    </div>
  </div>
</div>