<div class="token-arround center">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        {{ .Content }}

        <div class="coda-slider" id="slider-id">
            <div>
                <h2 class="title">{{ .Params.piller_1_txt }}</h2>
                <img src="/img/piller_1.jpg" alt="{{ .Params.piller_1_txt }}">
            </div>
            <div>
                <h2 class="title">{{ .Params.piller_2_txt }}</h2>
                <img src="/img/piller_2.jpg" alt="{{ .Params.piller_2_txt }}">
            </div>
            <div>
                <h2 class="title">{{ .Params.piller_3_txt }}</h2>
                <img src="/img/piller_3.jpg" alt="{{ .Params.piller_3_txt }}">
            </div>
            <div>
                <h2 class="title">{{ .Params.piller_4_txt }}</h2>
                <img src="/img/piller_4.jpg" alt="{{ .Params.piller_4_txt }}">
            </div>
            <div>
                <h2 class="title">{{ .Params.piller_5_txt }}</h2>
                <img src="/img/piller_5.jpg" alt="{{ .Params.piller_5_txt }}">
            </div>
        </div>

    </div>
    <div class="col-sm-2"></div>
</div>