<div class="token-arround center">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        {{ .Content }}

        <div class="coda-slider" id="slider-id">
            <div>
                <h2 class="title">{{ .Params.piller_1_txt }}</h2>
                <img src="{{ .Params.piller_1_img }}" alt="{{ .Params.piller_1_txt }}">
            </div>
            <div>
                <h2 class="title">{{ .Params.piller_2_txt }}</h2>
                <img src="{{ .Params.piller_2_img }}" alt="{{ .Params.piller_2_txt }}">
            </div>
            <div>
                <h2 class="title">{{ .Params.piller_3_txt }}</h2>
                <img src="{{ .Params.piller_3_img }}" alt="{{ .Params.piller_3_txt }}">
            </div>
            <div>
                <h2 class="title">{{ .Params.piller_4_txt }}</h2>
                <img src="{{ .Params.piller_4_img }}" alt="{{ .Params.piller_4_txt }}">
            </div>
            <div>
                <h2 class="title">{{ .Params.piller_5_txt }}</h2>
                <img src="{{ .Params.piller_5_img }}" alt="{{ .Params.piller_5_txt }}">
            </div>
        </div>

    </div>
    <div class="col-sm-2"></div>
</div>
