<!-- {{ range $element := .Data.Pages }} {{ if eq .Section "home" }} {{ if eq .Title "Farming Cooperative" }}
<style>
    .cooperative {
        margin-top: 20px;
    }
    .cooperative a {
        border: 2px solid #699ee2;
        background-color: #699ee2;
        color: #fff;
        margin: 20px;
        padding: 15px 35px;
    }
    .cooperative a:hover {
        border: 2px solid #fff;
    }
</style>
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="content-home cooperative">
        <h1>{{ .Params.header }}</h1>
        <a href="{{ .Params.link1_link }}">{{ .Params.link1_txt }}</a>
        <a href="{{ .Params.link2_link }}">{{ .Params.link2_txt }}</a>
    </div>
</div>
<div class="clear-fix"></div>
{{end}} {{end}} {{end}} -->