{{ range $element :=  .Data.Pages }}
  {{ if eq .Section "home" }}
    {{ if eq .Title "how we change" }}
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="sqs-block markdown-block sqs-block-markdown sqs-block-content-home" >
             <div class="sqs-block-content">
                <h1 id="with-this-we-will-radically-change-the-internet">{{ .Params.header }}</h1>
                <p>{{ .Content }}</p>
             </div>
          </div>
        </div>
      </div>
    {{end}}
  {{end}}
{{end}}
