{{ range $element :=  .Data.Pages }}
  {{ if eq .Section "home" }}
    {{ if eq .Title "join our mission" }}
    <section class="transfer-to-ico" class="Index-page Index-page--has-image">
       <div class="Index-page-content container">
          <div class="col-xs-12">
             <div class="row">
                <div class="col-xs-12">
                   <div class="sqs-block">
                      <div class="sqs-block-content center">
                         <h1><a href="{{ .Params.orrick_link }}" target= "_blank">{{ .Params.orrick_txt }}</a>&nbsp;{{ .Params.orrick_header }}</h1>
                         <h2 dir="ltr">{{ .Params.header }}</h2>
                         <h1>&nbsp;</h1>
                         <h1>&nbsp;</h1>
                         <p>&nbsp;</p>
                         <h1>{{ .Params.sec_header }}</h1>
                         <p>{{ .Content }}</p>
                      </div>
                   </div>
                   <div class="sqs-block button-block sqs-block-button">
                      <div class="sqs-block-content">
                         <div class="sqs-block-button-container--center">
                            <a href="{{ .Params.pto_link }}" class="sqs-block-button-element--large">{{ .Params.pto_txt }}</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    {{end}}
  {{end}}
{{end}}
