{{ range $element := .Data.Pages }} 
    {{ if eq .Section "home" }} 
        {{ if eq .Title "open source" }}
            <div class="open-source">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <article class="openSource-item clear-fix center">
                        <h1 class="center">{{ .Params.image_1_header }}</h1>
                        <a href="{{ .Params.url_1 }}" class="openSource-link">
                            <img class="sphere" title="{{ .Params.header_1 }}" alt="{{ .Params.header_1 }}" src="{{ .Params.image_1 }}">
                        </a>
                        <p>{{ .Params.header_1 }}</p>
                        <div class="content-home">
                            <a href="{{ .Params.url_1 }}">
                                {{ .Params.subtitle_1 }}
                            </a>
                        </div>

                    </article>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <article class="openSource-item clear-fix center">
                        <h1 class="center">{{ .Params.image_2_header }}</h1>
                        <a href="{{ .Params.url_2 }}" class="openSource-link">
                            <img class="sphere" title="{{ .Params.header_2 }}" alt="{{ .Params.header_2 }}" src="{{ .Params.image_2 }}">
                        </a>
                        <p>{{ .Params.header_2 }}</p>
                        <div class="content-home">

                            <a href="{{ .Params.url_2 }}">
                                {{ .Params.subtitle_2 }}
                            </a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <article class="openSource-item clear-fix center">
                        <h1 class="center">{{ .Params.image_3_header }}</h1>
                        <a href="{{ .Params.url_3 }}" class="openSource-link">
                            <img class="sphere" title="{{ .Params.header_3 }}" alt="{{ .Params.header_3 }}" src="{{ .Params.image_3 }}">
                        </a>
                        <p>{{ .Params.header_3 }}</p>
                        <div class="content-home">

                            <a href="{{ .Params.url_3 }}">
                                {{ .Params.subtitle_3 }}
                            </a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-1"></div>
            </div>
        {{end}} 
    {{end}} 
{{end}}