{{ range $element :=  .Data.Pages }}
  {{ if eq .Section "home" }}
    {{ if eq .Title "our dream" }}
      <div class="our-dream">
        <div class="row">
          <div class="col xs-12 col-sm-3"></div>
          <div class="col-xs-12 col-sm-6">
            <h1 class="center">{{ .Params.header }}</h1>
            <p>{{ .Params.subtitle_1 }}
              <br>
              {{ .Params.subtitle_2 }}
              <br/> <br/>
              {{ .Params.subtitle_3 }}
            </p>
          </div>
        </div>

        <div style="margin: 20px auto;" class="row">
          <div class="col-xs-12 col-sm-4 dreem">
            <h4>{{ .Params.title_1 }}</h4>
            <p>{{ .Params.text_1 }}</p>
          </div>
          <div class="col-xs-12 col-sm-4 dreem">
            <h4>{{ .Params.title_2 }}</h4>
            <p>{{ .Params.text_2 }}</p>
          </div>
          <div class="col-xs-12 col-sm-4 dreem">
            <h4>{{ .Params.title_3 }}</h4>
            <p>{{ .Params.text_3 }}</p>
          </div>
        </div>

          <div class="row">
            <div class="col-xs-12 col-sm-2"></div>
            <div class="col-xs-12 col-sm-8">
              <div class="sqs-block html-block sqs-block-html">
              <p>{{ .Params.last_text }}</p>

                <p>{{ .Params.token_holder }} <br/>
                    {{ .Params.token_holder_name }}</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2"></div>
          </div>
      </div>
    {{end}}
  {{end}}
{{end}}
