{{ range $element := .Data.Pages }} {{ if eq .Section "home" }} {{ if eq .Title "registration" }}
<style>
  .participate {
    margin-top: 20px;
  }

  .participate a {
    border: 2px solid #699ee2;
    background-color: #699ee2;
    color: #fff;
    margin: 20px;
    padding: 15px 35px;
  }

  .participate a:hover {
    border: 2px solid #757575;
    background-color: #fff;
    color: #757575;
  }
</style>
<div class="registration">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="content-home cooperative">
      <h1>Participate in ThreeFold</h1>
    </div>
    <form id="contactForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="name" id="name" class="form-control" placeholder="Name" required>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <select class="form-control" name="select" required>
              <option selected disabled value=''>Interested in:</option>
              <option>Purchasing tokens</option>
              <option>Small farming (
                <20k $)</option>
                  <option>Medium farming (20k $ - 300k $ farming)</option>
                  <option>Large farming (>300k $)</option>
                  <option>Develop solutions using ThreeFold technology</option>
                  <option>Join the team / collaborate</option>
                  <option>Other (specify)</option>
            </select>
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="country" id="country" class="form-control" placeholder="Country" required="required">
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="message" id="exampleTextarea" placeholder="Comment (optional)" rows="3"></textarea>
        <p class="help-block text-danger"></p>
      </div>
      <!-- <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"> Add me to your newsletter to receive the latest ThreeFold news.
        </label>
      </div> -->
      <div id="success"></div>
      <button type="submit" class="btn btn-primary">PARTICIPATE</button>
    </form>
  </div>
</div>
<div class="clear-fix"></div>
{{end}} {{end}} {{end}}