{{ range $element := $.Site.Pages }} {{ if eq .Section "footer" }} {{ if eq .Title "footer" }}
<footer class="Footer">
  <div class="Footer-inner">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <p class="media">{{ .Params.text }}
            <a href="{{ .Params.telegram }}">
              <img src="{{ .Params.telegram_img }}" alt="ThreeFoldToken Telegram">
            </a>
            <a href="{{ .Params.youtube }}">
              <img src="{{ .Params.youtube_img }}" alt="ThreeFoldToken Youtube">
            </a>
            <a href="{{ .Params.linkedin }}">
              <img src="{{ .Params.linkedin_img }}" alt="ThreeFoldToken LinkedIn">
            </a>
            <a href="{{ .Params.facebook }}">
              <img src="{{ .Params.facebook_img }}" alt="ThreeFoldToken facebook">
            </a>
          </p>
        </div>
        <div class="col-sm-8">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</footer>
{{end}} {{end}} {{end}}
