{{ range $element := $.Site.Pages }} {{ if eq .Section "footer" }} {{ if eq .Title "footer" }}
<footer class="Footer">
  <div class="Footer-inner">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <p class="media">{{ .Params.text }}
            <a href="{{ .Params.telegram }}">
              <i class="fab fa-telegram-plane fa-1x"></i>
            </a>
            <a href="{{ .Params.youtube }}">
              <i class="fab fa-youtube fa-1x"></i>
            </a>
            <a href="{{ .Params.linkedin }}">
              <i class="fab fa-linkedin-in fa-1x"></i>
            </a>
          </p>
        </div>
        <div class="col-sm-8">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</footer>
{{end}} {{end}} {{end}}