{{ range $element := $.Site.Pages }} {{ if eq .Section "footer" }} {{ if eq .Title "footer" }}
<footer class="Footer">
  <div class="Footer-inner">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <p class="media">{{ .Params.text }}
            <a href="{{ .Params.telegram }}">
             <img src="/img/TG.png" alt="" style="height:25px;width: 25px;">
            </a>
            <a href="{{ .Params.youtube }}">
              <img src="/img/YT.png" alt="" style="height:25px;width: 25px;">
            </a>
            <a href="{{ .Params.linkedin }}">
              <img src="/img/LI.png" alt="" style="height:25px;width: 25px;">
            </a>
          </p>
        </div>
        <div class="col-sm-8">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</footer>
{{end}} {{end}} {{end}}