 <!DOCTYPE html>
<html lang="en-US">
<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="initial-scale=1">
   <!-- <link charset="utf-8" rel="stylesheet" id="yui_3_17_2_1_1498864945728_189" href="css/announcement-bar-d41d8cd98f00b204e9800998ecf8427e-min.css"> -->
   <!-- <script charset="utf-8" id="yui_3_17_2_1_1498864945728_188" src="js/announcement-bar-a35f252312cc1662f038-min.js"></script>-->
   <meta charset="utf-8">
   <title>GIG.tech</title>
   <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico">
   <link rel="image_src" href="img/GIG.Techlogo.CMYK.png">
   {{ if eq .Section "home" }}
     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/opensans.css">
   {{else}}
   <link rel="stylesheet" href="../../css/bootstrap.min.css">
   <link rel="stylesheet" href="../../css/font-awesome.min.css">
   <link rel="stylesheet" href="../../css/opensans.css">
   {{end}}
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   {{ if eq .Section "home" }}
   <link rel="stylesheet" type="text/css" href="css/css.css">
   {{else}}
   <link rel="stylesheet" type="text/css" href="../../css/css.css">
   {{end}}
   {{ if eq .Section "home" }}
   <link rel="stylesheet" type="text/css" href="css/site.css">
   <link rel="stylesheet" type="text/css" href="css/custom.css">
   {{else}}
   <link rel="stylesheet" type="text/css" href="../../css/site.css">
   <link rel="stylesheet" type="text/css" href="../../css/custom.css">
    {{end}}
   <!-- <script crossorigin="anonymous" src="js/common-aa49bec3051579d678d7-min.js"></script> -->

   <script type="text/javascript">
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66665092-1', 'auto');
    ga('send', 'pageview');
  </script>
  <style>
       /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
       #map-canvas {
         height: 100%;
       }
       /* Optional: Makes the sample page fill the window. */
       html, body {
         height: 100%;
         margin: 0;
         padding: 0;
       }
     </style>
</head>
