<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8fm-COQxxr_vY2L1g3AHKVBZ2R9HZHbI&libraries=geometry"></script>
<script src="/js/oms.min.js"></script>
<script src="/js/contents.js"></script>
<script src="/js/mapping.min.js"></script>
<script src="/js/community_data.js"></script>
<script src="/js/ambassdors.js"></script>
<script src="/js/data.js"></script>
<script src="/js/threefold-team.js"></script>
<script src="/js/gig-team.js"></script>
<script src="/js/tech-team.js"></script>
<script src='/js/b9c29fe1.minified.js'></script>
<script src="/js/jquery.countTo.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/custom.js"></script>
<script type="text/javascript" charset="utf-8">
   // Creating custom :external selector
   $.expr[':'].external = function(obj){
       return !obj.href.match(/^mailto\:/)
               && (obj.hostname != location.hostname);
   };
   
   $(function(){
     // Add 'external' CSS class to all external links
     $('a:external').addClass('external');
   
     // turn target into target=_blank for elements w external class
     $(".external").attr('target','_blank');
     $('a[href*="register"]').each(function() {
         $(this).attr('target', '_self');
     });
   
   })
</script>