{{ if eq .Section "home" }}
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="js/CgSepo3jw0mg0xzetWH1-x79OTX9Xtmf7HCWyGc2OY9feTSffFHN4UJLFRbh5.js"></script> -->
  <script src="js/custom.js"></script>
{{else}}
  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="../../js/CgSepo3jw0mg0xzetWH1-x79OTX9Xtmf7HCWyGc2OY9feTSffFHN4UJLFRbh5.js"></script> -->
  <script src="../../js/custom.js"></script>
{{end}}
