{{ range $element :=  $.Site.Pages }}
  {{ if eq .Section "whitepaper" }}
    {{ if eq .Title "whitepaper header" }}
      <div class="logo-container">
         <a href="/"><img src="/img/threefold.svg" alt="Threefold"></a>
      </div>
      <section class="three-objectives Index-page Index-page--has-image" style="min-height: calc(50vh - 150px); background-color: #699ee2 !important;">
         <div class="Index-page-content sqs-alternate-block-style-container">
            <nav class="navbar Header-nav" role="navigation" id="nav" data-spy="affix" data-offset-top="133">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header navbar-inner">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div id="navbar" class="collapse navbar-collapse" style="text-align: center">
                  <ul class="nav navbar-nav left">
                    <li><a href="/" class="Header-nav-item">Idea <span class="sr-only">(current)</span></a></li>
                    <!-- <li><a href="/pto" class="Header-nav-item">PTO</a></li> -->
                    <li><a href="/how-it-works" class="Header-nav-item">how it works</a></li>
                    <li><a href="/gettingstarted" class="Header-nav-item">get started</a></li>
                    <li><a href="/ito" class="Header-nav-item">ITO</a></li>
                    <li><a href="/whitepaper" class="Header-nav-item">Whitepaper</a></li>
                    <li><a href="/information" class="Header-nav-item">Information</a></li>
                    <li><a href="/faq" class="Header-nav-item">FAQ</a></li>
                    <li><a href="/community" class="Header-nav-item">Community</a></li>
                    <li><a href="/team" class="Header-nav-item">Team</a></li>
                    <li><a href="/app" class="Header-nav-item">app</a></li>
                    <!-- <li class="showLink"><a href="/oauth" class="Header-nav-item">Login</a></li>
                    <li class="showLink"><a href="https://itsyou.online/register?client_id=threefold&endpoint=/v1/oauth/authorize&redirect_uri=http://threefold2.aydo.com:4040/oauth/callback&response_type=code&state=/#/" class="Header-nav-item">SignUp</a></li> -->
                  </ul>
              </div>
            </nav>
            <div class="sqs-layout col-xs-12">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="sqs-block image-block sqs-block-image sqs-text-ready">
                        <div class="sqs-block-content">
                           <div class="image-block-outer-wrapper layout-caption-below design-layout-inline sqs-narrow-width">
                              <div class="intrinsic" style="max-width:779.0px;">
                                 <div style="padding-bottom: 65.982%; overflow: hidden;" class="image-block-wrapper has-aspect-ratio">
                                    <noscript><img src="../../img/1498120400854.png"  /></noscript>
                                    <img class="thumb-image loaded" style="left: 0%; top: -0.120964%; width: 100%; position: absolute;" src="../../img/a_003.png">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-9">
                     <div class="row">
                        <div class="col-sm-8">
                           <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                              <div class="sqs-block-content">&nbsp;</div>
                           </div>
                           <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                              <div class="sqs-block-content">&nbsp;</div>
                           </div>
                           <div class="sqs-block html-block sqs-block-html">
                              <div class="sqs-block-content">
                                 <h1 class="text-align-center">{{ .Params.header }}</h1>
                                 <h2 class="text-align-center">{{ .Params.subtitle_1 }}<br>{{ .Params.subtitle_2 }}<br>{{ .Params.subtitle_3 }}</h2>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="sqs-block image-block sqs-block-image sqs-text-ready">
                              <div class="sqs-block-content">
                                 <div class="image-block-outer-wrapper layout-caption-hidden design-layout-inline sqs-narrow-width">
                                    <div class="intrinsic" style="max-width:287.0px;">
                                       <div style="padding-bottom: 136.585%; overflow: hidden;" class="image-block-wrapper has-aspect-ratio">
                                          <noscript><img src="../../img/1498120400854.png"  /></noscript>
                                          <img class="thumb-image   loaded" style="left: -0.045208%; top: 0%; width: 100.09%; position: absolute;" src="../../img/a.png">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                  <div class="sqs-block-content">&nbsp;</div>
               </div>
               <div class="row">
                  <div class="col-xs-12">
                     <div class="row">
                       <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                           <div class="sqs-block button-block sqs-block-button" style="text-align: center;">
                              <div class="sqs-block-content">
                                 <div class="sqs-block-button-container--center">
                                    <a href="{{ .Params.button_link_1 }}" class="sqs-block-button-element--medium sqs-block-button-element">{{ .Params.button_name_1 }}</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- <div class="col-sm-5">
                           <div class="sqs-block button-block sqs-block-button">
                              <div class="sqs-block-content"> -->
                                 <!-- <div class="sqs-block-button-container--center">
                                    <a href="{{ .Params.button_link_2 }}" class="sqs-block-button-element--medium sqs-block-button-element">{{ .Params.button_name_2 }}</a>
                                 </div> -->
                              <!-- </div>
                           </div>
                        </div> -->
                        <div class="col-sm-2"></div>
                        <!-- <div class="col-sm-4">
                           <div class="sqs-block button-block sqs-block-button">
                              <div class="sqs-block-content">
                                 <div class="sqs-block-button-container--center">
                                    <a href="{{ .Params.button_link_3 }}" class="sqs-block-button-element--medium sqs-block-button-element">{{ .Params.button_name_3 }}</a>
                                 </div>
                              </div>
                           </div>
                        </div> -->
                     </div>
                  </div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                     <div class="sqs-block button-block sqs-block-button">
                        <div class="sqs-block-content">
                           <!-- <div class="sqs-block-button-container--center">
                              <a href="http://tiny.cc/tf_ito_investment_agr" class="sqs-block-button-element--medium sqs-block-button-element" >Threefold ITO Investment Agreement</a>
                           </div> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
    {{end}}
  {{end}}
{{end}}
