.Site-inner, header, .navbar-toggle .icon-bar {
  background-color: #fff;
}
.tweak-blog-list-style-grid .BlogList-item {
  float: none;
}
.clear-fix {
  clear: both;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse, header {
  text-align: center;
}
.navbar-toggle, .nav>li>a:hover {
  background-color: #8cb53c;
}
.tweak-header-primary-nav-hover-style-active .Header-nav .Header-nav-item:hover {
  color: #fff;
}
.Header-branding-logo {
  margin: 50px 10px 15px;
}
.Header-nav {
  margin-bottom: 0px;
  padding-bottom: 40px;
  background-color: #fff;
}
.smallScreen {
  display: none;
}
h3 {
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 3.8em;
}
.BlogList-item-excerpt{
  font-size: 15px;
  line-height: 1.2em;
}
/* Media Queries */
@media only screen and (max-width: 767px) {
  .Header-branding {
    display: none;
  }
  .smallScreen {
    display: block;
  }
    .smallScreen img {
        max-width: 115px;
        margin: 25px 10px 20px;
    }
    .navbar-toggle {
      margin-top: 40px;
    }
    header {
      text-align: left;
    }
}
