.Site-inner, header, .navbar-toggle .icon-bar {
  background-color: #fff;
}
.tweak-blog-list-style-grid .BlogList-item {
  float: none;
}
.clear-fix {
  clear: both;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse, header {
  text-align: center;
}
.navbar-toggle, .nav>li>a:hover {
  background-color: #022f3b;
}
.tweak-header-primary-nav-hover-style-active .Header-nav .Header-nav-item {
  color: #003944;
}
.tweak-header-primary-nav-hover-style-active .Header-nav .Header-nav-item:hover {
  color: #fff;
}
.Header-branding-logo {
  margin: 50px 10px 15px;
}
.Header-nav {
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.46);
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.smallScreen {
  display: none;
}
h2 {
  font-size: 25px;
  letter-spacing: 0.08em;
  line-height:1em;
}
h3 {
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 3.8em;
}
.BlogList-item-excerpt{
  font-size: 15px;
  line-height: 1.2em;
}
.sqs-block-content {
  text-align: justify;
}
.sqs-block-content h3 {
  float: left !important;
}
.sqs-block-button .sqs-block-button-element--small {
  letter-spacing: 0.1em;
}
footer .sqs-block-content h3 {
  float: none !important;
}

/*header style*/
.Site header {
  background: url('../img/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}
.Site header img {
  margin-top: 40px;
}
.logo {
  position: absolute;
  left: 25px;
  top: -10px;
  margin-top: 20px;
  height: 50px;
}
/* Media Queries */
@media only screen and (max-width: 767px) {
  .Header-branding {
    display: none;
  }
  .smallScreen {
    display: block;
  }
    .smallScreen img {
        max-width: 115px;
        margin: 25px 10px 20px;
    }
    .navbar-toggle {
      margin-top: 40px;
    }
    header {
      text-align: left;
    }
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
