@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../fonts/OpenSans-Semibold.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.ttf) format('ttf');
}
body {
  font-family: 'Open Sans', sans-serif;
}
.Site-inner, header, .navbar-toggle .icon-bar, .content-404 {
  background-color: #fff;
}
.Site-inner {
  padding-bottom: 40px;
}
.tweak-blog-list-style-grid .BlogList-item {
  float: none;
}
.clear-fix {
  clear: both;
}
/*.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse, header {
  text-align: center;
}*/
.tweak-header-primary-nav-hover-style-active .Header-nav .Header-nav-item {
  color: #fff;
}
.tweak-header-primary-nav-hover-style-active .Header-nav .Header-nav-item:hover {
  color: #757575;
}
.nav>li>a:hover {
  background-color: transparent;
}
.header-image {
  display: block;
  padding: 75px 0;
  margin: auto;
  height: 415px;
}
/*
.Header-branding-logo {
  margin: 50px 10px 15px;
}
.Header-nav {
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.46);
  position: absolute;
  width: 100%;
  bottom: 0px;
}*/
.smallScreen {
  display: none;
}
h2 {
  font-size: 25px;
  letter-spacing: 0.08em;
  line-height:1em;
}
h3 {
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 3.8em;
}
.BlogList-item-excerpt{
  font-size: 15px;
  line-height: 1.2em;
}
.sqs-block-content {
  text-align: justify;
}
.sqs-block-team h3 {
  float: left !important;
}
.sqs-block-button .sqs-block-button-element--small {
  letter-spacing: 0.1em;
}
.Footer {
  background-color: #699EE2;
  padding-top: 40px;
}
footer .sqs-block-content h3 {
  float: none !important;
}
.Footer ul {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.list {
  color: #fff !important;
}
.list h4 {
  text-transform: none;
  font-weight: 800;
  line-height: 1.2em;
}
.list img {
  height: 50px;
  width: 50px;
}
.list a {
  text-decoration: underline;
}
.list a:hover {
  color: #fff;
}
.content-404 p{
  margin: 59px auto;
  text-align: center;
}
/*header style*/
.Site header {
  background-color: #699ee2 ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 415px;
  position: relative;
}
.logo-container {
  background-color: #fff;
}
.logo-container img {
  display: block;
  max-width: 240px;
  margin: auto;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-fixed-top {
  margin-top: 100px;
  float: right;
}
.navbar-brand {
  padding: 0 15px;
}
.navbar-brand img {
  width: 92px;
  margin: 8px;
}
.logo {
  position: absolute;
  left: 25px;
  top: -10px;
  margin-top: 20px;
  height: 50px;
}
.Footer .logo {
  position: static;
  margin-top: 5px;
  width: 100px;
}
.Footer .linked {
  background-color: #fff;
  padding: 5px 10px;
  color: #000;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
}
.Footer .linked:hover {
  color: #000;
}
.copyright {
  background-color: #546A86;
  padding: 20px 0;
  margin-top: 40px;
  text-align: center;
  color: #abb7b9;
  line-height: 1.2em;
  font-size: 10px;
}
.copyright .copy {
  text-transform: uppercase;
}
.fa-3 {
  font-size: 4em;
}
.navbar-container {
    padding: 20px 0;
}
.navbar.navbar-fixed-top.fixed-theme {
    background-color: #699ee2;
    margin-top: 0px;
}
.navbar-container.fixed-theme {
    padding: 0;
}
.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
/* Media Queries */
@media only screen and (max-width: 767px) {
  .Header-branding {
    display: none;
  }
  .navbar-brand img {
    width: 100px;
  }
  .smallScreen {
    display: block;
  }
    .smallScreen img {
        max-width: 115px;
        margin: 25px 10px 20px;
    }
    .navbar-toggle {
      margin-top: 30px;
    }
    header {
      text-align: left;
    }
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
  .navbar-nav {
    float: right;
  }
  .navbar-nav>li {
    margin: 5px 0;
  }
}
