{{ partial "head.html" . }}
   {{ partial "parallax.html" . }}
       {{ partial "header.html" . }}
         <div class="container content-404">
           <div class="col-sm-2 col-xs-12"></div>
           <div class="col-sm-8 col-xs-12">
             <p>Error 404 – File not Found <br/>
               Sorry, but the page you were looking for could not be found.</p>
           </div>
           <div class="col-sm-2 col-xs-12"></div>
         </div>
       {{ partial "footer.html" . }}
   </div>
</body>
</html>
