   {{ partial "head.html" . }}
      {{ partial "parallax.html" . }}
          {{ partial "header.html" . }}
         <div class="Site-inner">
            <div class="Content-outer">
               <main class="Main Main--page">
                  <section class="Main-content">
                     <div class="sqs-layout sqs-grid-12 columns-12" >
                        <div class="row sqs-row">
                           <div class="col sqs-col-2 span-2">
                              <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                                 <div class="sqs-block-content">&nbsp;</div>
                              </div>
                           </div>
                           <div class="col sqs-col-8 span-8">
                              {{ partial "home/edge_cloud.html" . }}
                           </div>
                        </div>
                     </div>
                  </section>
               </main>
            </div>
         </div>
          {{ partial "footer.html" . }}
      </div>
      <!-- <script src="js/site-bundle.js" type="text/javascript"></script> -->
      <!-- <script type="text/javascript" data-sqs-type="imageloader-bootstraper">(function() {if(window.ImageLoader) { window.ImageLoader.bootstrap({}, document); }})();</script><script>Squarespace.afterBodyLoad(Y);</script> -->
      {{ partial "js.html" . }}
   </body>
</html>
