.overview {
    float: left;
}

.overview a.overview-top {
    transition: 0.6s;
}

.overview a.overview-top.visible {
    opacity: 1;
}

.overview a.overview-top.invisible {
    opacity: 0;
}

.overview-contents {
    position: absolute;
    top: -13px;
    width: 670px;
    transition: 0.6s;
    transform: rotateY(180deg);
    opacity: 0;
/*    backface-visibility: hidden;    */
    left: -15px;
    padding: 20px;
    border-radius: 43px;
    border: solid 1px rgb(117, 117, 117);
    z-index: 1;
    background-color: #fafafa;
}

.overview-contents.visible {
    transform: rotateY(0deg);
    opacity: 1;
}

.overview-contents.invisible {
    transform: rotateY(180deg);
    opacity: 0;
}

.overview-contents img {
    margin-top: 15px;
    height: 120px;
    float: left;
    border-radius: 50%;
    border: solid 2px #ADD8E6;
}

.overview-contents h1 {
    margin: 15px 0 0 0;
    padding-left: 150px;
    text-align: left;
    line-height: 30px;
}

.overview-contents h2 {
    margin: 0 0 10px 0;
    padding-left: 150px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 130%;
    border-bottom: solid 1px #ADD8E6;
}

.overview-contents p {
    margin: 5px 0 0 0;
    padding-left: 150px;
    text-align: left;
    font-weight: normal;
    line-height: 16px;
    text-align: justify;
}

.overview-contents .close {
    position: absolute;
    right: 31px;
    top: 31px;
}

.overview-contents form input, .overview-contents form textarea {
    display: block;
    width: 800px;
    margin: 0 5px 10px 0;
    height: 25px;
    padding: 5px 15px 5px 15px;
    border: solid 1px #ADD8E6;
    border-radius: 4px;
    margin-left: 150px;
    margin-right: 150px;
}

.overview-contents form textarea {
    height: 80px;
}
