{{ partial "login/login_head.html" . }}
   {{ partial "parallax.html" . }}
     {{ if eq .Section "login" }}
         {{ partial "login/login-header.html" . }}
      {{end}}
      <div class="Site-inner">
          <div class="row clear-fix">
            {{ range .Data.Pages }}
                {{ if eq .Title "join"}}
                  <div class="Content-outer">{{ .Render "join_threefold" }}</div>
                  {{ else if eq .Title "our idea" }}
                  <div class="Content-outer">{{ .Render "our-idea" }}</div>
                  {{ else if eq .Title "neutral_edge" }}
                  <div class="Content-outer">{{ .Render "neutral_edge" }}</div>
                  {{ else if eq .Title "our dream" }}
                  <div class="Content-outer">{{ .Render "our_dream" }}</div>
                  {{ else if eq .Title "our team" }}
                  <div class="Content-outer">{{ .Render "our_team" }}</div>
                  {{else}}
    						<div class="Content-outer">{{ .Render "summary" }}</div>
          	  {{end}}
            {{ end }}
            {{ partial "login/join_threefold.html" . }}

          </div>
      </div>
       {{ partial "footer.html" . }}
   </div>
   {{ partial "js.html" . }}
</body>
</html>
