<!DOCTYPE html>
<html lang="en-US">
   <!-- <div id="yui3-css-stamp" style="position: absolute !important; visibility: hidden !important">
      </div> -->
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equic="X-UA-Compatible" content="chrome=1">
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
      <title>ThreeFold Token — Secure</title>
      <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico">
      <link rel="stylesheet" href="../../css/bootstrap.min.css">
      <link rel="stylesheet" href="../../css/font-awesome.min.css">
      <link rel="stylesheet" href="../../css/opensans.css">
      <link rel="stylesheet" type="text/css" href="../../css/css.css">
   </head>
   <body id="website-592440a4be6594a4894090cf">
      <div class="sqs-slide-wrapper" data-slide-id="5924dc965016e128c836e80c" data-slide-type="lock-screen" id="yui_3_17_2_1_1502607497225_169">
         <div class="sqs-slide-container countdown-numeric-label-font-size-medium  page-border-size-medium auto-overlay auto-image-background-color video-overlay-color-blend-mode-normal button-layout-style-inline-auto button-style-outline button-shape-rectangle social-icons-size-small social-icons-style-knockout social-icons-shape-circle  audio-player-icons-size-small audio-player-icons-style-border audio-player-icons-shape-circle  video-icon-size-large video-icon-style-knockout video-icon-shape-circle map-style-minimal-light lock-size-extra-large lock-style-border lock-shape-circle password-style-rectangle newsletter-layout-style-inline newsletter-style-rectangle overlay-close-button-style-icon overlay-close-button-location-inside overlay-load-animation-fade-in overlay-advanced-layout-styles-disabled overlay-alignment-center  overlay-mobile-styles-enabled" data-slide-id="5924dc965016e128c836e80c" data-slide-type="lock-screen" id="yui_3_17_2_1_1502607497225_168">
            <link rel="stylesheet" href="../../css/login.css" type="text/css">
            <div class="sqs-slide yui3-widget yui3-lockfullcenter01 yui3-lockfullcenter02 yui3-lockfullcenter02-content sqs-slide-ready" data-slide-id="5924dc965016e128c836e80c" data-slide-layout-id="lock-full-center-02" data-slide-type="lock-screen" id="yui_3_17_2_1_1502607497225_91">
               <div class="sqs-slide-layer layer-back full-width-height" id="yui_3_17_2_1_1502607497225_167">
                  <div class="sqs-slide-layer-content" id="yui_3_17_2_1_1502607497225_166">
                     <div class="sqs-slice sqs-gallery-design-stacked yui3-widget sqs-slice-gallery sqs-slice-gallery-content" data-slice-type="gallery" data-slice-id="592c6657b3db2b6efbe1ef86" id="yui_3_17_2_1_1502607497225_103" style="background-color: rgb(155, 157, 158);">
                        <div class="sqs-slice-gallery-item content-fill sqs-gallery-design-stacked-slide loaded sqs-active-slide" data-average-color="{&quot;topLeftAverage&quot;:&quot;ffffff&quot;,&quot;topRightAverage&quot;:&quot;ffffff&quot;,&quot;bottomLeftAverage&quot;:&quot;b4b5b6&quot;,&quot;bottomRightAverage&quot;:&quot;c9c9c8&quot;,&quot;centerAverage&quot;:&quot;748083&quot;,&quot;suggestedBgColor&quot;:&quot;ffffff&quot;}" style="background-color: rgb(255, 255, 255); opacity: 1; z-index: 889;" id="yui_3_17_2_1_1502607497225_105" data-type="image">
                           <img data-src="../../img/signin_bg.png" data-image="../../img/signin_bg.png" data-image-dimensions="1000x563" data-image-focal-point="0.5,0.5" alt="signin_bg.png" data-use-advanced-positioning="true" data-load="false" data-position-mode="objectPosition" data-parent-ratio="3.6" data-version="module" class="loaded" src="../../img/signin_bg.png" id="yui_3_17_2_1_1502607497225_165" style="width: 100%; height: 100%; object-position: 50% 50%; object-fit: cover;" data-image-resolution="2500w">
                        </div>
                        <div class="scrim" style="background-color: rgb(155, 157, 158); opacity: 0.3;"></div>
                     </div>
                  </div>
               </div>
               <div class="sqs-slide-layer layer-front full-width-height">
                  <div class="sqs-slide-layer-content scroll">
                     <div class="sqs-slice-group group-content restrict-width-1000 text-align-center align-center align-center-absolute">
                        <div class="sqs-slice yui3-widget sqs-slice-lock sqs-slice-lock-content" data-slice-type="lock" data-slice-id="592c65ccf5e2311557e30f05" id="yui_3_17_2_1_1502607497225_290">
                           <span class="icon-wrapper" id="yui_3_17_2_1_1502607497225_423">
                              <div id="yui_3_17_2_1_1502607497225_422">
                                 <i class="fa fa-lock myLock" aria-hidden="true"></i>
                                 <!-- <svg viewBox="0 0 64 64">
                                    <use class="use-background" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/universal/svg/lock-screen.svg#background">
                                    </use>
                                    <use class="use-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/universal/svg/lock-screen.svg#lock-icon">
                                    </use><use class="use-mask" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/universal/svg/lock-screen.svg#lock-mask">
                                    </use>
                                    </svg> -->
                              </div>
                           </span>
                        </div>
                        <div class="sqs-slice-group group-copy">
                           <div class="sqs-slice yui3-widget sqs-slice-image sqs-slice-image-content" data-slice-type="image" data-compound-type="logo" data-slice-id="5927d83f2994caf3ee44f6c4" id="yui_3_17_2_1_1502607497225_312"></div>
                           <div class="sqs-slice yui3-widget sqs-slice-heading sqs-slice-heading-content sqs-slice-heading-focused" data-slice-type="heading" id="yui_3_17_2_1_1502607497225_334">
                              <h1 id="sqs-slash-page-header" style="display: inline-block;">Secure Area</h1>
                           </div>
                           <div class="register">
                              <a href="/oauth" class="btn btn-default login" role="button">Login</a>
                              <a href="https://itsyou.online/register?client_id=threefold&endpoint=%2Fv1%2Foauth%2Fauthorize&redirect_uri=http%3A%2F%2Fthreefold2.aydo.com%3A4040%2Foauth%2Fcallback&response_type=code&state=%2F#/" class="btn btn-default login" style="color:#5876ae !important;" role="button">Register</a>
                              <h3 class="signin">
                              powerd by<br>ITSYOU.ONLINE
                              <h3>
                           </div>
                        </div>
                        <!-- <div class="sqs-slice yui3-widget sqs-slice-password sqs-slice-password-content" data-slice-type="password" id="yui_3_17_2_1_1502607497225_356"><div class="input-container" id="yui_3_17_2_1_1502607497225_368">
                           <input type="password" tabindex="1" name="password" placeholder="Password" id="yui_3_17_2_1_1502607497225_367">
                           <div class="arrow-icon"><div class="icon-wrapper arrow"><div><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/universal/svg/lock-screen.svg#input-arrow"></use></svg></div></div></div>
                           <div class="error-message"></div>
                           </div>
                           </div> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
