{{ partial "head.html" . }}
   {{ partial "body.html" . }}
   {{ partial "login/login-header.html" . }}
       <div class="Site-inner">
          <div class="Content-outer">
             <main class="Main Main--page">
                <section class="Main-content">
                   <div class="sqs-layout" >
                     <!-- start join threefold section -->
                       {{ partial "login/join_threefold.html" . }}
                     <!-- End join threefold section -->

                        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                           <div class="sqs-block-content">&nbsp;</div>
                        </div>
                   </div>

                </section>
                {{ partial "footer.html" . }}
             </main>
          </div>
       <!-- </div> -->
      </div>
   {{ partial "js.html" . }}
</body>
</html>
