<h1 style="text-align:center;margin-top:40px;">Our Team</h1>
<!-- <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1"> -->
   <div class="sqs-block-content">&nbsp;</div>

     <div class="row">
  <div class="column">

      <div class="text-name">
        <h2 class="heder-team">Kristof De Spiegeleer</h2>
      </div>
      <img src="/img/andreas.jpeg" alt="Jane" style="width:100%">

  </div>

  <div class="column">

      <div class="text-name">
        <h2 class="heder-team">Baker Yanicelli</h2>

      </div>
      <img src="/img/andreas.jpeg" alt="Jane" style="width:100%">

  </div>

  <div class="column">

      <div class="text-name">
        <h2 class="heder-team">Willem Hendrickx</h2>
      </div>
      <img src="/img/andreas.jpeg" alt="Jane" style="width:100%">

  </div>

  <div class="column">

      <div class="text-name">
        <h2 class="heder-team">Sophie De Maesschalck</h2>
      </div>
      <img src="/img/andreas.jpeg" alt="Jane" style="width:100%">

  </div>

  <div class="column">

      <div class="text-name">
        <h2 class="heder-team">Andreas Hartl</h2>
      </div>
      <img src="/img/andreas.jpeg" alt="Jane" style="width:100%">

  </div>


  <div class="column">

      <div class="text-name">
        <h2 class="heder-team">Jan De Landtsheer</h2>
      </div>
      <img src="/img/andreas.jpeg" alt="Jane" style="width:100%">

  </div>

  <div class="column">

      <div class="text-name">
        <h2 class="heder-team">Geert Audenaert</h2>
      </div>
      <img src="/img/andreas.jpeg" alt="Jane" style="width:100%">

  </div>

  <div class="column">

      <div class="text-name">
        <h2 class="heder-team">Pierre Van Hoorebeke</h2>
      </div>
      <img src="/img/andreas.jpeg" alt="Jane" style="width:100%">

  </div>

  <div class="column">

      <div class="text-name">
        <h2 class="heder-team">Rob Van Mieghem</h2>
      </div>
      <img src="/img/andreas.jpeg" alt="Jane" style="width:100%">

  </div>

  <div class="column">

      <div class="text-name">
        <h2 class="heder-team">Geert Audenaert</h2>
      </div>
      <img src="/img/andreas.jpeg" alt="Jane" style="width:100%">
  
  </div>




</div>
   </ul>
   <div class="team-name">Abdulrahman Ghanem, Abdulrahman Hamdy, Abdulrahman Khalifa, Ahmed Thabet, Ali Chaddad, Ashraf Fouda, Bart Pede, Chris Van de Gejuchte, Christophe De Carvalho, Dina Magdy,Ehab Hassan, Glen De Cauwsemaeker, Hamdy Farag, Jo De Boeck, Khaled Karam, Lee Smet, Lucas Vanhalst, Maxime Daniel, Muhamad Azmy, Nickolay Babenko, Ramez Saeed, Reem Khamis, Ruben Mattan ,Samar Adel, Sarah Boctor</div>
</div>
