<h1 style="text-align:center;margin-top:40px;">Our Team</h1>
<div class="team">
  <div class="container">
    <div class="row our-team">
      <div class="col-sm-12">
        <div class="col-sm-1"></div>
        <div class="col-xs-12 col-sm-2">
          <h5>Kristof De Spiegeleer</h5>
          <img style="height:150px; width:150px;" src="../../img/kristof.jpg" alt="kristof.jpg">
        </div>
        <div class="col-sm-2">
          <h5>Baker Yanicelli</h5>
          <img style="height:150px; width:150px;" src="../img/baker.jpg" alt="">
        </div>
        <div class="col-sm-2">
          <h5>Willem Hendrickx</h5>
          <img style="height:150px; width:150px;" src="../img/willem.jpg" alt="">
        </div>
        <div class="col-sm-2">
          <h5>Sophie De Maesschalck</h5>
          <img style="height:150px; width:150px;" src="../img/sophie.jpg" alt="">
        </div>
        <div class="col-sm-2">
          <h5>Andreas Hartl</h5>
          <img style="height:150px;" src="../img/andreas.jpeg" alt="">
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
    <dir class="row clear-fix our-team" style="padding-left:0px;">
      <div class="col-sm-12">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <h5>Jan De Landtsheer</h5>
          <img style="height:150px; width:150px;" src="../img/Jansquare.jpg" alt="">
        </div>
        <div class="col-sm-2">
          <h5>Geert Audenaert</h5>
          <img style="height:150px; width:150px;" src="../img/Geertsquare.jpg" alt="">
        </div>
        <div class="col-sm-2">
          <h5>Adnan Fatayerji</h5>
          <img style="height:150px; width:150px;" src="../img/adnan.jpg" alt="">
        </div>
        <div class="col-sm-2">
          <h5>Pierre Van Hoorebeke</h5>
          <img style="height:150px; width:150px;" src="../img/Pierresquare.jpg" alt="">
        </div>
        <div class="col-sm-2">
          <h5>Rob Van Mieghem</h5>
          <img style="height:150px; width:150px;" src="../img/Robsquare2.jpg" alt="">
        </div>
        <div class="col-sm-1"></div>
      </div>
    </dir>

    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
       <div class="sqs-block-content">&nbsp;</div>
    </div>

    <div class="row clear-fix our-team">
      <div class="col-sm-12">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <p style="text-align:center">Abdulrahman Ghanem, Abdulrahman Hamdy, Abdulrahman Khalifa, Ahmed Elsayed, Ahmed Thabet, Ali Chaddad, Ashraf Fouda, Bart Pede, Chris Van de Gejuchte, Christophe De Carvalho, Dina Magdy,Ehab Hassan, Glen De Cauwsemaeker, Hamdy Farag, Jo De Boeck, Khaled Karam, Lee Smet, Lucas Vanhalst, Maxime Daniel, Muhamad Azmy, Nickolay Babenko, Ramez Saeed, Reem Khamis, Ruben Mattan ,Samar Adel, Sarah Boctor</p>
        </div>

      </div>
    </div>
  </div>
</div>
