{{ range $element :=  $.Site.Pages }}
  {{ if eq .Section "footer" }}
    {{ if eq .Title "footer" }}
      <footer class="Footer">
        <div class="clear">
          <div class="sqs-layout container">
             <div class="row">
                <div class="col-xs-12 col-sm-2"></div>
                <div class="col-xs-12 col-sm-2">
                  <ul class="list">
                    <li><h4>{{ .Params.header_1 }}</h4></li>
                    <li><i class="{{ .Params.text_1_img }}" aria-hidden="true"></i></li>
                    <li><a href="{{ .Params.text_1_link }}">{{ .Params.text_1 }}</a></li>
                    <li><a href="{{ .Params.text_2_link }}">{{ .Params.text_2 }}</a></li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <ul class="list">
                    <li><h4>{{ .Params.header_2 }}</h4></li>
                    <li><i class="{{ .Params.text_2_img }}" aria-hidden="true"></i></li>
                    <li><a href="{{ .Params.text_3_link }}">{{ .Params.text_3 }}</a></li>
                    <li><a href="{{ .Params.text_4_link }}">{{ .Params.text_4 }}</a></li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <ul class="list">
                    <li><h4>{{ .Params.header_3 }}</h4></li>
                    <li><i class="{{ .Params.text_3_img }}" aria-hidden="true"></i></li>
                    <li><a href="{{ .Params.text_5_link }}">{{ .Params.text_5 }}</a></li>
                    <li><a href="{{ .Params.text_6_link }}">{{ .Params.text_6 }}</a></li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <ul class="list">
                    <li><img src="{{ .Params.gig_logo }}" class="logo"></li>
                    <li>{{ .Params.company_name }}</li>
                    <li>{{ .Params.adrees_p1 }} <br/> {{ .Params.adrees_p2 }}</li>
                    <li><a href="{{ .Params.follow_us_link }}" class="linked">{{ .Params.follow_us }}</a></li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-1"></div>
             </div>
          </div>
          <div class="copyright">
            <div class="container">
              <div class="row">
                {{ .Content }}
                <p class="copy">{{ .Site.Copyright }}</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    {{end}}
  {{end}}
{{end}}
