{{ range $element :=  .Data.Pages }}
  {{ if eq .Section "footer" }}
    <footer class="Footer" role="contentinfo" data-controller="FooterBreakpoints" id="yui_3_17_2_1_1498864945728_155" data-controllers-bound="FooterBreakpoints">
       <div class="Footer-inner clear" id="yui_3_17_2_1_1498864945728_154">
          <div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--top sqs-alternate-block-style-container" data-layout-label="Footer Top Blocks" data-type="block-field" data-updated-on="1498551701121" id="footerBlocksTop">
             <div class="row sqs-row" id="yui_3_17_2_1_1498864945728_153">
                <div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1498864945728_152">
                   <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_5_1498551148961_5389">
                      <div class="sqs-block-content" id="yui_3_17_2_1_1498864945728_151">
                         <div class="image-block-outer-wrapper layout-caption-below design-layout-inline" id="yui_3_17_2_1_1498864945728_150">
                            <div class="intrinsic" style="max-width:69.0px;" id="yui_3_17_2_1_1498864945728_149">
                               <div style="padding-bottom:44.92753601074219%;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_1_1498864945728_148">
                                  <noscript><img src="img/{{ .Params.image }}"  /></noscript>
                                  <img class="thumb-image loaded" data-src="img/{{ .Params.image }}" data-image="img/{{ .Params.image }}" data-image-dimensions="69x31" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5952157cccf210222f4d0676" data-type="image" style="top: 0%; left: 0%; width: 100%; height: 100%; position: absolute;" src="img/{{ .Params.image }}" data-image-resolution="100w">
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="Footer-middle">
             <div class="Footer-business">
             </div>
             <div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--middle sqs-alternate-block-style-container empty" data-layout-label="Footer Middle Blocks" data-type="block-field" data-updated-on="1452386857557" id="footerBlocksMiddle">
                <div class="row sqs-row">
                   <div class="col sqs-col-12 span-12"></div>
                </div>
             </div>
          </div>
          <div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--bottom sqs-alternate-block-style-container" data-layout-label="Footer Bottom Blocks" data-type="block-field" data-updated-on="1498560447356" id="footerBlocksBottom">
             <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                   <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_5_1473967068780_10590">
                      <div class="sqs-block-content">
                         <h3 class="text-align-center">{{ .Params.footer_txt }} <a target="_blank" href="{{ .Params.footer_link }}">{{ .Params.company }}</a></h3>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </footer>
  {{end}}
{{end}}
