{{ range $element :=  $.Site.Pages }}
  {{ if eq .Section "footer" }}
    {{ if eq .Title "footer" }}
      <footer class="Footer">
        <div class="clear">
          <div class="sqs-layout container">
             <div class="row">
                <div class="col-sm-2 "></div>
                <div class="col-xs-6 col-sm-2">
                  <ul class="list">
                    <li><h4>Stateless computing</h4></li>
                    <li><img src="http://via.placeholder.com/100x100"></li>
                    <li><a href="#">Zero-os</a></li>
                    <li><a href="#">Zero-stor</a></li>
                  </ul>
                </div>
                <div class="col-xs-6 col-sm-2">
                  <ul class="list">
                    <li><h4>Artificial Intelligence</h4></li>
                    <li><img src="http://via.placeholder.com/100x100"></li>
                    <li><a href="#">Jumpscale</a></li>
                    <li><a href="#">At Your Service</a></li>
                  </ul>
                </div>
                <div class="col-xs-6 col-sm-2">
                  <ul class="list">
                    <li><h4>Blockchain Technology</h4></li>
                    <li><img src="http://via.placeholder.com/100x100"></li>
                    <li><a href="#">Rivine</a></li>
                    <li><a href="#">itsyou.online</a></li>
                  </ul>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <ul class="list">
                    <li><img src="/img/Icons-05 copy.png" class="logo"></li>
                    <li style="margin-top: 15px;">GIG Technology</li>
                    <li style="margin-bottom: 30px;">Antwerpsesteenweg 19 <br/> 9080-Lochristi-Belgium</li>
                    <li><a href="#" class="linked">Follow us on Linkedin</a></li>
                  </ul>
                </div>
                <div class="col-xs-6 col-sm-1"></div>
             </div>
          </div>
          <div class="copyright">
            <div class="container">
              <div class="row">
                <p>sitemap / privacy statment / terms &amp; conditions</p>
                <p class="copy">&copy; copyright gig technology n.v</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    {{end}}
  {{end}}
{{end}}
