<header class="header">
  <a href="/" class="Header-branding" >
    <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="Header-branding-logo">
  </a>
  <nav class="navbar Header-nav">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="Header-branding smallScreen" >
          <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="Header-branding-logo">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/" class="Header-nav-item" data-test="template-nav">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="/tech" class="Header-nav-item" data-test="template-nav">Tech</a></li>
          <li><a href="/blog" class="Header-nav-item" data-test="template-nav">Blog</a></li>
          <li><a href="/team" class="Header-nav-item" data-test="template-nav">Team</a></li>
          <li><a href="/contact-foster" class="Header-nav-item" data-test="template-nav">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
