<header class="Header Header--top">
   <div class="Header-inner Header-inner--top" data-nc-group="top">
      <div data-nc-container="top-left">
         <nav class="Header-nav Header-nav--secondary" data-nc-element="secondary-nav" data-content-field="navigation">
         </nav>
      </div>
      <div data-nc-container="top-center">
         <nav class="Header-nav Header-nav--primary" data-nc-element="primary-nav" data-content-field="navigation">
            <div class="Header-nav-inner">
               <a href="/" class="Header-nav-item" data-test="template-nav">Home</a>
               <a href="/tech" class="Header-nav-item" data-test="template-nav">TECH</a>
               <a href="/blog" class="Header-nav-item" data-test="template-nav">Blog</a>
               <a href="/gig-people" class="Header-nav-item" data-test="template-nav">GIG People</a>
               <a href="/contact-foster" class="Header-nav-item" data-test="template-nav">Contact</a>
            </div>
         </nav>
         <a href="/" class="Header-branding" data-nc-element="branding" data-content-field="site-title">
        {{ if eq .Section "home" }}
         <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="Header-branding-logo">
         {{else}}
         <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="Header-branding-logo">
          {{end}}
         </a>
      </div>
      <div data-nc-container="top-right">
      </div>
   </div>
</header>
