<div class="Parallax-host-outer">
   <div class="Parallax-host" data-parallax-host="">
   </div>
</div>
<div class="Site loaded" data-nc-base="header" data-controller="AncillaryLayout" data-controllers-bound="AncillaryLayout">
   <div class="sqs-announcement-bar-dropzone">
      <div class="sqs-announcement-bar-custom-location">
         <div class="yui3-widget sqs-widget sqs-announcement-bar sqs-announcement-bar-hidden" style="height: 21px;">
            <div class="sqs-announcement-bar-content">
               <div class="sqs-announcement-bar-text">
                  <span class="sqs-announcement-bar-close"></span>
               </div>
            </div>
         </div>
      </div>
   </div>
