{{ partial "head.html" . }}
   {{ partial "parallax.html" . }}
       {{ partial "header.html" . }}
         <div class="container content-403">
           <div class="col-sm-2 col-xs-12"></div>
           <div class="col-sm-8 col-xs-12">
             <h1>403</h1>
             <h2>Restricted Part Of The Website</h2>
             <p>This part of the website is only visible for ThreeFold members with a <br/>
               referral code. Download the Threefold app and register to learn more. Our <br/>
               onboarding guide will help you go through this process step by step.</p>
               <a href="https://docs.google.com/a/greenitglobe.com/presentation/d/17Ceq-f4VhobsFa44sdcj6DU3bIw-LvOT5PyOUo0hehY/edit?usp=sharing" class="guide">View Onboarding Guide</a>
           </div>
           <div class="col-sm-2 col-xs-12"></div>
         </div>
       {{ partial "footer.html" . }}
   </div>
   {{ partial "js.html" . }}
</body>
</html>
