{{ partial "head.html" . }} 
{{ partial "body.html" . }} 
  {{ partial "header.html" . }}
    <div class="Site-inner">
      <div class="Content-outer">
        {{ partial "home/open-source.html" . }} 
        {{ partial "home/neutral_edge.html" . }} 
        {{ partial "home/our_dream.html" . }} 
        {{ partial "home/map.html" . }} 
        {{ partial "home/join_our_mission.html" . }} 
        {{ partial "home/contribute.html" . }} 
        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
{{ partial "js.html" . }}
</body>
</html>