<section class="Intro Main-content sqs-frontend-overlay-editor-widget-host" data-content-field="main-content">
   <section class="BlogList BlogList--posts-excerpt sqs-blog-list clear" data-columns="3">
      <article id="post-595247876b8f5b75fd238eb9" class="BlogList-item hentry author-roel-van-sabben post-type-text article-index-1 sqs-frontend-overlay-editor-widget-host" data-item-id="595247876b8f5b75fd238eb9">
         <div class="BlogList-item-image">
            <a href="ethical-product.html" class="BlogList-item-image-link" style="overflow: hidden;">
            <img data-src="../img/stephanie-krist-72013.jpg" data-image="../img/stephanie-krist-72013.jpg" data-image-dimensions="2500x1669" data-image-focal-point="0.5,0.5" data-load="false" style="top: 0px; left: -77px; width: 465px; height: 310px; position: relative;" alt="Ethical Product Design Manifesto" class="" src="../img/stephanie-krist-72013.jpg" data-image-resolution="500w">
            </a>
         </div>
         <a href="/ethical-product-design-manifesto" class="BlogList-item-title" data-content-field="title">Ethical Product Design Manifesto</a>
         <div class="BlogList-item-excerpt">
            <p>Respect Human Rights, Human Effort &amp; Human Experience</p>
            <a href="/ethical-product-design-manifesto" class="BlogList-item-readmore"></a>
         </div>
         <div class="Blog-meta BlogList-item-meta">
            <!--
               Author

             --><a href="Blog/?author=591c0e1e2e69cf6faf67d1bb" class="Blog-meta-item Blog-meta-item--author">Roel van Sabben</a><!--
               Date

               --><time class="Blog-meta-item Blog-meta-item--date" datetime="2017-06-27">June 27, 2017</time>
         </div>
      </article>
      <article id="post-595246b55016e16cc77a5bcc" class="BlogList-item hentry tag-open-source author-roel-van-sabben post-type-text article-index-2 has-tags sqs-frontend-overlay-editor-widget-host" data-item-id="595246b55016e16cc77a5bcc">
         <div class="BlogList-item-image">
            <a href="open-source-techonloly.html" class="BlogList-item-image-link" style="overflow: hidden;">
            <img data-src="../img/jesse-collins-116206.jpg" data-image="../img/jesse-collins-116206.jpg" data-image-dimensions="2500x1697" data-image-focal-point="0.5,0.5" data-load="false" style="top: 0px; left: -73px; width: 457px; height: 310px; position: relative;" alt="Open Source Technology" class="" src="../img/jesse-collins-116206.jpg" data-image-resolution="500w">
            </a>
         </div>
         <a href="/open-source-techonloly" class="BlogList-item-title" data-content-field="title">Open Source Technology</a>
         <div class="BlogList-item-excerpt">
            <p>The following components are used to build our grid</p>
            <a href="/open-source-techonloly" class="BlogList-item-readmore"></a>
         </div>
         <div class="Blog-meta BlogList-item-meta">
            <!--
               Author

             --><a href="/blog/?author=591c0e1e2e69cf6faf67d1bb" class="Blog-meta-item Blog-meta-item--author">Roel van Sabben</a><!--
               Date

               --><time class="Blog-meta-item Blog-meta-item--date" datetime="2017-06-27">June 27, 2017</time><!--
               Tags

               --><span class="Blog-meta-item Blog-meta-item--tags"><a href="/blog/?tag=Open+Source" class="Blog-meta-item-tag">Open Source</a></span>
         </div>
      </article>
      <article id="post-595217c2db29d694c5835f79" class="BlogList-item hentry tag-green-energy tag-new-internet author-roel-van-sabben post-type-text article-index-3 has-tags sqs-frontend-overlay-editor-widget-host" data-item-id="595217c2db29d694c5835f79">
         <div class="BlogList-item-image">
            <a href="the-need-for-a-new-neutral-internet.html" class="BlogList-item-image-link" style="overflow: hidden;">
            <img data-src="../img/the-korus-51284.jpg" data-image="../img/the-korus-51284.jpg" data-image-dimensions="2500x3750" data-image-focal-point="0.5,0.5" data-load="false" style="top: -77px; left: 0px; width: 310px; height: 465px; position: relative;" alt="The need for a new, neutral Internet" class="" src="../img/the-korus-51284.jpg" data-image-resolution="500w">
            </a>
         </div>
         <a href="/the-need-for-a-new-neutral-internet" class="BlogList-item-title" data-content-field="title">The need for a new, neutral Internet</a>
         <div class="BlogList-item-excerpt">
            <p><strong>The internet has a Trillion $ Problem</strong></p>
            <a href="/the-need-for-a-new-neutral-internet" class="BlogList-item-readmore"></a>
         </div>
         <div class="Blog-meta BlogList-item-meta">
            <!--
               Author

               --><a href="/blog/?author=591c0e1e2e69cf6faf67d1bb" class="Blog-meta-item Blog-meta-item--author">Roel van Sabben</a><!--
               Date

               --><time class="Blog-meta-item Blog-meta-item--date" datetime="2017-06-27">June 27, 2017</time><!--
               Tags

               --><span class="Blog-meta-item Blog-meta-item--tags"><a href="/blog/?tag=Green+Energy" class="Blog-meta-item-tag">Green Energy</a>, <a href="/blog/?tag=New+Internet" class="Blog-meta-item-tag">New Internet</a></span>
         </div>
      </article>
   </section>
</section>
</main>
