<div class="row">
   <div class="col-xs-12">
      <div class="sqs-block-content sqs-intrinsic" style="padding-bottom: 6.19469%;">&nbsp;</div>
      <div class="row">
        <div class="col-sm-2 col-xs-12"></div>
        <div class="col-sm-10 col-xs-12">
          <h2 id="complete-cast">{{ .Params.header }}</h2>
        </div>
      </div>
      <div class="row">
         <div class="col-sm-2 col-xs-12"></div>
         <div class="col-sm-5 col-xs-12">

            <div class="sqs-block markdown-block sqs-block-markdown">
               <div class="sqs-block-team">
                  <h3 id="software-engineers">{{ .Params.software_header }}</h3>
                  <div class="clear-fix"></div>
                  <p><a href="{{ .Params.software_rob_url }}">{{ .Params.software_rob_name }}</a></p>
                  <p><a href="{{ .Params.software_jan_url }}">{{ .Params.software_jan_name }}</a></p>
                  <p><a href="{{ .Params.software_geert_url }}">{{ .Params.software_geert_name }}</a></p>
                  <p><a href="{{ .Params.software_jo_url }}">{{ .Params.software_jo_name }}</a></p>
                  <p><a href="{{ .Params.software_nickolay_url }}">{{ .Params.software_nickolay_name }}</a></p>
                  <p><a href="{{ .Params.software_reem_url }}">{{ .Params.software_reem_name }}</a></p>
                  <p><a href="{{ .Params.software_christophe_url }}">{{ .Params.software_christophe_name }}</a></p>
                  <p><a href="{{ .Params.software_muhamad_url }}">{{ .Params.software_muhamad_name }}</a></p>
                  <p><a href="{{ .Params.software_michael_url }}">{{ .Params.software_michael_name }}</a></p>
                  <p><a href="{{ .Params.software_maxime_url }}">{{ .Params.software_maxime_name }}</a></p>
                  <p><a href="{{ .Params.software_iwan_url }}">{{ .Params.software_iwan_name }}</a></p>
                  <p><a href="{{ .Params.software_yves_url }}">{{ .Params.software_yves_name }}</a></p>

                  <h3 id="marketing-product-management">{{ .Params.marketing_header }}</h3>
                  <div class="clear-fix"></div>
                  <p><a href="{{ .Params.marketing_roal_url }}">{{ .Params.marketing_roal_name }}</a></p>
                  <p><a href="{{ .Params.marketing_sacha_url }}">{{ .Params.marketing_sacha_name }}</a></p>
               </div>
            </div>
         </div>
         <div class="col-sm-4 col-xs-12">
            <div class="sqs-block markdown-block sqs-block-markdown">
               <div class="sqs-block-team">
                  <h3 id="legal-financial">{{ .Params.legal_header }}</h3>
                  <div class="clear-fix"></div>
                  <p><a href="{{ .Params.legal_sabrina_url }}">{{ .Params.legal_sabrina_name }}</a></p>
                  <p><a href="{{ .Params.legal_sylvie_url }}">{{ .Params.legal_sylvie_name }}</a></p>
                  <p><a href="{{ .Params.legal_sophie_url }}">{{ .Params.legal_sophie_name }}</a></p>
                  <p><a href="{{ .Params.legal_pierre_url }}">{{ .Params.legal_pierre_name }}</a></p>

                  <h3 id="business-development">{{ .Params.business_header }}</h3>
                  <div class="clear-fix"></div>
                  <p><a href="{{ .Params.business_adnan_url }}">{{ .Params.business_adnan_name }}</a></p>
                  <p><a href="{{ .Params.business_chris_url }}">{{ .Params.business_chris_name }}</a></p>
                  <p><a href="{{ .Params.business_nicola_url }}">{{ .Params.business_nicola_name }}</a></p>
                  <p><a href="{{ .Params.business_weynand_url }}">{{ .Params.business_weynand_name }}</a> </p>
                  <p><a href="{{ .Params.business_jacques_url }}">{{ .Params.business_jacques_name }}</a></p>
               </div>
            </div>
         </div>
         <div class="col-sm-1 col-xs-12"></div>
      </div>
   </div>
</div>
</section>
</main>
