<main class="Main Main--page">
   <section class="Main-content" data-content-field="main-content" id="yui_3_17_2_3_1499076456483_282">
      <div class="sqs-layout sqs-grid-12 columns-12 sqs-frontend-overlay-editor-widget-host" data-type="page" data-updated-on="1498822185596" id="page-59525d16e58c62d7ca259f72">
         <div class="row sqs-row" id="yui_3_17_2_3_1499076456483_281">
            <div class="col sqs-col-1 span-1">
               <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-5012ac3c1eef208c962c">
                  <div class="sqs-block-content">&nbsp;</div>
               </div>
            </div>
            <div class="col sqs-col-10 span-10" id="yui_3_17_2_3_1499076456483_280">
               <div class="row sqs-row" id="yui_3_17_2_3_1499076456483_279">
                  <div class="col sqs-col-4 span-4" id="yui_3_17_2_3_1499076456483_278">
                     <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="120" data-block-type="5" id="block-457b0cce65d4892fc9cc">
                        <div class="sqs-block-content" id="yui_3_17_2_3_1499076456483_277">
                           <div class="image-block-outer-wrapper layout-caption-below design-layout-inline sqs-narrow-width" id="yui_3_17_2_3_1499076456483_276">
                              <div class="intrinsic" style="max-width:500.0px;" id="yui_3_17_2_3_1499076456483_275">
                                 <div style="padding-bottom:120.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_3_1499076456483_274">
                                    <noscript><img src="../img/kristof.jpg"  alt="kristof.jpg"  /></noscript>
                                    <img class="thumb-image loaded" data-src="../img/kristof.jpg" data-image="../img/kristof.jpg" data-image-dimensions="500x500" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="595260d53e00be5b14bd6c70" data-type="image" style="top: 0%; left: -10.0282%; width: 120.056%; height: 100%; position: absolute;" alt="kristof.jpg" src="../img/kristof.jpg" data-image-resolution="500w">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col sqs-col-6 span-6">
                     <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_53_1498566440879_10178">
                        <div class="sqs-block-content">
                           <div class="sqs-block-button-container--left" data-alignment="left" data-button-size="small">
                              <a href="https://www.linkedin.com/in/despiegk/" class="sqs-block-button-element--small sqs-block-button-element" target="_blank" data-initialized="true">Link with Kristof</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="7.371794871794871" data-block-type="21" id="block-yui_3_17_2_53_1498566440879_44927">
                  <div class="sqs-block-content sqs-intrinsic" style="padding-bottom: 7.3718%;" id="yui_3_17_2_3_1499076456483_406">&nbsp;</div>
               </div>
               <div class="row sqs-row" id="yui_3_17_2_3_1499076456483_306">
                  <div class="col sqs-col-4 span-4" id="yui_3_17_2_3_1499076456483_305">
                     <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="120" data-block-type="5" id="block-3deebbeced9120447624">
                        <div class="sqs-block-content" id="yui_3_17_2_3_1499076456483_304">
                           <div class="image-block-outer-wrapper layout-caption-below design-layout-inline sqs-narrow-width" id="yui_3_17_2_3_1499076456483_303">
                              <div class="intrinsic" style="max-width:314.0px;" id="yui_3_17_2_3_1499076456483_302">
                                 <div style="padding-bottom:120.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_3_1499076456483_301">
                                    <noscript><img src="../img/willem.jpg"  alt="willem.jpg"  /></noscript>
                                    <img class="thumb-image loaded" data-src="../img/willem.jpg" data-image="../img/willem.jpg" data-image-dimensions="314x314" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5952626b2994ca48790a5112" data-type="image" style="top: 0%; left: -10.0318%; width: 120.064%; height: 100%; position: absolute;" alt="willem.jpg" src="../img/willem.jpg" data-image-resolution="500w">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col sqs-col-6 span-6">
                     <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-f11f7184b51621a5fa32">
                        <div class="sqs-block-content">
                           <h3>WILLEM HENDRICKX</h3>
                           <p>Willem
                              has over 20 years of experience in sales and management roles at global
                              ICT firms and has held key executive positions in commercial management
                              as well as corporate marketing, including Alcatel-Lucent where he was
                              President EMEA, Riverbed where he was SVP EMEA, Tieto where he was EVP
                              Global Accounts and Customer Market Operations and EMC where he served
                              as SVP Global Channels. Willem has a track record of success in growing
                              businesses through the development and execution of new business models,
                              expanding distribution channels and executing global go-to-market
                              strategies. Willem has a degree in Commercial Sciences and holds a
                              Master’s degree in Economics from the European Institute of Higher
                              Education (EHSAL) in Brussels, Belgium.
                           </p>
                        </div>
                     </div>
                     <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_53_1498566440879_27238">
                        <div class="sqs-block-content">
                           <div class="sqs-block-button-container--left" data-alignment="left" data-button-size="small">
                              <a href="https://www.linkedin.com/in/willemhendrickx/" class="sqs-block-button-element--small sqs-block-button-element" data-initialized="true">Link with Willem</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="6.303418803418803" data-block-type="21" id="block-yui_3_17_2_53_1498566440879_43710">
                  <div class="sqs-block-content sqs-intrinsic" style="padding-bottom: 6.30342%;" id="yui_3_17_2_3_1499076456483_409">&nbsp;</div>
               </div>
               <div class="row sqs-row" id="yui_3_17_2_3_1499076456483_325">
                  <div class="col sqs-col-4 span-4" id="yui_3_17_2_3_1499076456483_324">
                     <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="120" data-block-type="5" id="block-fa86fb24c7e2d314eac6">
                        <div class="sqs-block-content" id="yui_3_17_2_3_1499076456483_323">
                           <div class="image-block-outer-wrapper layout-caption-below design-layout-inline sqs-narrow-width" id="yui_3_17_2_3_1499076456483_322">
                              <div class="intrinsic" style="max-width:500.0px;" id="yui_3_17_2_3_1499076456483_321">
                                 <div style="padding-bottom:120.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_3_1499076456483_320">
                                    <noscript><img src="../img/download5.jpg"  alt="download (5).jpeg"  /></noscript>
                                    <img class="thumb-image loaded" data-src="../img/download5.jpg" data-image="../img/download5.jpg" data-image-dimensions="500x500" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="59526279725e2529b4b0254a" data-type="image" style="top: 0%; left: -10.0282%; width: 120.056%; height: 100%; position: absolute;" alt="download (5).jpeg" src="../img/download5.jpg" data-image-resolution="500w">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col sqs-col-6 span-6">
                     <div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-yui_3_17_2_2_1498817390272_17666">
                        <div class="sqs-block-content">
                           <p><strong> SACHA VEKEMAN </strong></p>
                           <p>Nearly two decades of experience in large multinational and telecom
                              corporations such as NTT Communications, technology startups and
                              high-growth companies. Lived in Brussels, Dubai, London, Amsterdam,
                              Rotterdam and Paris. Supporting technology companies to productize,
                              scale-out and execute a solid go-to-market strategy via international
                              business development and technology marketing.
                           </p>
                           <p>Drove fundraising and the sale of Mobiya Ltd., Camargus NV, Qamira
                              NV, Planzone SA, Scense BV, CoreDataCloud Ltd., since 2010. Designing,
                              executing and delivering revenue from global technology partnerships.
                              Sacha is currently Head of Marketing and Communications at GIG
                              Technology.
                           </p>
                        </div>
                     </div>
                     <div class="row sqs-row">
                        <div class="col sqs-col-2 span-2">
                           <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_53_1498566440879_35913">
                              <div class="sqs-block-content">
                                 <div class="sqs-block-button-container--center" data-alignment="center" data-button-size="small">
                                    <a href="https://www.linkedin.com/in/svekeman/" class="sqs-block-button-element--small sqs-block-button-element" data-initialized="true">Link with Sacha</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col sqs-col-2 span-2">
                           <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_53_1498566440879_38490">
                              <div class="sqs-block-content">
                                 <div class="sqs-block-button-container--left" data-alignment="left" data-button-size="small">
                                    <a href="https://twitter.com/svekeman" class="sqs-block-button-element--small sqs-block-button-element" data-initialized="true">Follow Sacha</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col sqs-col-2 span-2">
                           <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_53_1498566440879_40541">
                              <div class="sqs-block-content">
                                 <div class="sqs-block-button-container--left" data-alignment="left" data-button-size="small">
                                    <a href="https://t.me/svekeman" class="sqs-block-button-element--small sqs-block-button-element" data-initialized="true">Chat With sacha</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col sqs-col-1 span-1">
               <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-cf7037d7b11f479c2e44">
                  <div class="sqs-block-content">&nbsp;</div>
               </div>
            </div>
         </div>
         <div class="row sqs-row" id="yui_3_17_2_3_1499076456483_346">
            <div class="col sqs-col-12 span-12" id="yui_3_17_2_3_1499076456483_345">
               <div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="6.017699115044247" data-block-type="21" id="block-yui_3_17_2_65_1498566440879_38048">
                  <div class="sqs-block-content sqs-intrinsic" style="padding-bottom: 6.0177%;" id="yui_3_17_2_3_1499076456483_412">&nbsp;</div>
               </div>
               <div class="row sqs-row" id="yui_3_17_2_3_1499076456483_344">
                  <div class="col sqs-col-5 span-5" id="yui_3_17_2_3_1499076456483_343">
                     <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_65_1498566440879_49234">
                        <div class="sqs-block-content" id="yui_3_17_2_3_1499076456483_342">
                           <div class="image-block-outer-wrapper layout-caption-below design-layout-inline" id="yui_3_17_2_3_1499076456483_341">
                              <div class="intrinsic" style="max-width:500.0px;" id="yui_3_17_2_3_1499076456483_340">
                                 <div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_3_1499076456483_339">
                                    <noscript><img src="../img/a_002.png"  /></noscript>
                                    <img class="thumb-image loaded" data-src="../img/a_002.png" data-image="../img/a_002.png" data-image-dimensions="500x500" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="59526581ebbd1ae9dcda228b" data-type="image" style="top: 0%; left: 0%; width: 100%; height: 100%; position: absolute;" src="../img/a_002.png" data-image-resolution="500w">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col sqs-col-7 span-7">
                     <div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-yui_3_17_2_2_1498817390272_24471">
                        <div class="sqs-block-content">
                           <p><strong> MAGNUS JENSSEN </strong></p>
                           <p>Magnus had 20 years from Senior Sales and Marketing Management roles
                              at global ICT firms within companies like EMC/DELL, IBM, Tivoli, Novell,
                              Ingram Micro and Arrow. Magnus joined from EMCDELL where he was
                              responsible for driving Global Sales and Marketing targeted programs,
                              before this he led the EMEAMarketing Team for Channel, Programs and
                              MidMarket. Magnus acts as an Investor, Advisor and Board Member for
                              several companies within Digital Marketing, Encrypted Communication,
                              E-Health and Life Science. Magnus was a pioneer within broadband, and
                              digital services in Nordics were founded and sold some companies. What
                              drives him forward is the interaction with customers, his passion for
                              storytelling and understanding of technology. Magnus has a degree in
                              Business Economics and Marketing Communication from the University of
                              Stockholm, Sweden.
                           </p>
                        </div>
                     </div>
                     <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_65_1498566440879_60667">
                        <div class="sqs-block-content">
                           <div class="sqs-block-button-container--left" data-alignment="left" data-button-size="small">
                              <a href="https://www.linkedin.com/in/magnusjenssen/" class="sqs-block-button-element--small sqs-block-button-element" data-initialized="true">link with magnus</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="6.1946902654867255" data-block-type="21" id="block-yui_3_17_2_2_1498574059149_71834">
                  <div class="sqs-block-content sqs-intrinsic" style="padding-bottom: 6.19469%;" id="yui_3_17_2_3_1499076456483_415">&nbsp;</div>
               </div>
               <div class="row sqs-row">
                  <div class="col sqs-col-6 span-6">
                     <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_65_1498566440879_194499">
                        <div class="sqs-block-content">&nbsp;</div>
                     </div>
                  </div>
                  <div class="col sqs-col-6 span-6">
                     <div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-yui_3_17_2_2_1498817390272_31073">
                        <div class="sqs-block-content">
                           <h2 id="complete-cast">COMPLETE CAST</h2>
                           <h3 id="software-engineers">SOFTWARE ENGINEERS</h3>
                           <p><a href="https://www.linkedin.com/in/robvanmieghem/">Rob Van Mieghem</a></p>
                           <p><a href="https://www.linkedin.com/in/jand2/">Jan De Landtsheer</a></p>
                           <p><a href="https://www.linkedin.com/in/geertaudenaert/">Geert Audenaert</a></p>
                           <p><a href="https://www.linkedin.com/in/deboeckj/">Jo De Boeck</a></p>
                           <p><a href="https://www.linkedin.com/in/babenkonickolay/">Nickolay Babenko</a></p>
                           <p><a href="https://www.linkedin.com/in/rkhamis/">Reem Khamis</a></p>
                           <p><a href="https://www.linkedin.com/in/christophe-de-carvalho-pereira-martins-919504a1/">Christophe de Carvalho</a></p>
                           <p><a href="https://www.linkedin.com/in/muhamadazmy/">Muhamad Azmy</a></p>
                           <p><a href="https://www.linkedin.com/in/dvorkbod/">Michael Rademaker</a></p>
                           <p><a href="https://www.linkedin.com/in/maxime-daniel-29bb8055/">Maxime Daniel</a></p>
                           <p><a href="https://www.linkedin.com/in/iwanbk/">Iwan Budi Kusnanto</a></p>
                           <p><a href="https://www.linkedin.com/in/yveskerwyn/">Yves Kerwyn</a></p>
                           <h3 id="legal-financial">LEGAL &amp; FINANCIAL</h3>
                           <p><a href="https://www.linkedin.com/in/sabrina-sadik-449758132/">Sabrina Sadik</a></p>
                           <p><a href="https://www.linkedin.com/in/sylvie-rixhon-ab495b7/">Sylvie Rixhon</a></p>
                           <p><a href="https://www.linkedin.com/in/sophiedemaesschalck/">Sophie De Maesschalck</a></p>
                           <p><a href="https://www.linkedin.com/in/pierre-van-hoorebeke-5958343/">Pierre Van Hoorebeke</a></p>
                           <h3 id="business-development">BUSINESS DEVELOPMENT</h3>
                           <p><a href="https://www.linkedin.com/in/adnansf/">Adnan Fatayerji</a></p>
                           <p><a href="https://www.linkedin.com/in/chris-hutton-a3034777/">Chris Hutton</a></p>
                           <p><a href="https://www.linkedin.com/in/nicolamoresi/">Nicola Moresi</a></p>
                           <p><a href="https://www.linkedin.com/in/weynandkuijpers/">Weynand Kuijpers</a> </p>
                           <p><a href="https://www.linkedin.com/in/jacquesstaelens/">Jacques Staelens</a></p>
                           <h3 id="marketing-product-management">MARKETING &amp; PRODUCT MANAGEMENT</h3>
                           <p><a href="https://www.linkedin.com/in/roelvansabben/">Roel van Sabben</a></p>
                           <p><a href="https://www.linkedin.com/in/svekeman/">Sacha Vekeman</a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
</div>
