{{ partial "head.html" . }}
{{ partial "mobile-bar.html" . }}
   {{ partial "parallax.html" . }}
       {{ partial "header.html" . }}
      <div class="Site-inner">
         {{ partial "header-search.html" . }}
           {{ if eq .Section "blog" }}
             <div class="Content-outer">
                <main class="Main Main--blog-item">
                   <section class="Main-content sqs-frontend-overlay-editor-widget-host" data-content-field="main-content">
                      <article class="BlogItem hentry author-roel-van-sabben post-type-text sqs-frontend-overlay-editor-widget-host" data-item-id="595247876b8f5b75fd238eb9">
                         <h1 class="BlogItem-title" data-content-field="title">{{ .Params.header }}</h1>
                         <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Post Body" data-type="item" data-updated-on="1498564505529">
                            <div class="row sqs-row">
                               <div class="col sqs-col-12 span-12">
                                  <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5">
                                     <div class="sqs-block-content">
                                        <div class="image-block-outer-wrapper image-block-v2 design-layout-overlap image-position-left " data-scrolled="">
                                           <div class="intrinsic">
                                              <div class="image-inset content-fit" data-description="">
                                                 <noscript><img src="../../img/{{ .Params.content_image }}" alt=" - " /></noscript>
                                                 <img data-src="../../img/{{ .Params.content_image }}" data-image-dimensions="679x355" data-image-focal-point="0.5,0.5" style="" alt="download.png" class="" src="../../img/{{ .Params.content_image }}" data-image-resolution="750w">
                                                 <div class="image-overlay">
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44">
                                     <div class="sqs-block-content"> {{ .Content }} </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="Blog-meta BlogItem-meta">
                            <!-- Author -->
                            <!-- <a href="https://roel-vansabben-4fxm.squarespace.com/blog/?author=591c0e1e2e69cf6faf67d1bb" class="Blog-meta-item Blog-meta-item-author">Roel van Sabben</a> -->
                            <!-- Date -->
                            <!-- <time class="Blog-meta-item Blog-meta-item-date" datetime="2017-06-27">June 27, 2017</time> -->
                         </div>
                         <div class="BlogItem-share">
                            <div class="Share sqs-share-buttons" data-item-identifier="595247876b8f5b75fd238eb9" data-item-path="blog/2017/6/27/ethical-product-design-manifesto">
                               <div class="Share-buttons">
                                  <!-- Facebook -->
                                  <!-- <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Froel-vansabben-4fxm.squarespace.com%2Fblog%2F2017%2F6%2F27%2Fethical-product-design-manifesto" class="Share-buttons-item Share-buttons-item--social" target="_blank" data-service="facebook">
                                     <svg class="Share-buttons-item-icon" viewBox="0 0 64 64">
                                        <use xlink:href="#facebook-icon"></use>
                                     </svg>
                                     <span class="Share-buttons-item-label">Facebook</span><span class="Share-buttons-item-count">0</span>
                                  </a> -->
                                  <!--
                                     Twitter

                                     -->
                                  <!-- <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Froel-vansabben-4fxm.squarespace.com%2Fblog%2F2017%2F6%2F27%2Fethical-product-design-manifesto&amp;text=Respect+Human+Rights%2C+Human+Effort+%26amp%3B+Human+Experience" class="Share-buttons-item Share-buttons-item--social" target="_blank" data-service="twitter">
                                     <svg class="Share-buttons-item-icon" viewBox="0 0 64 64">
                                        <use xlink:href="#twitter-icon"></use>
                                     </svg>
                                     <span class="Share-buttons-item-label">Twitter</span>
                                  </a> -->
                                  <!--
                                     Tumblr

                                     -->
                                  <!-- <a href="https://www.tumblr.com/share/link?url=https%3A%2F%2Froel-vansabben-4fxm.squarespace.com%2Fblog%2F2017%2F6%2F27%2Fethical-product-design-manifesto" class="Share-buttons-item Share-buttons-item--social" target="_blank" data-service="tumblr">
                                     <svg class="Share-buttons-item-icon" viewBox="0 0 64 64">
                                        <use xlink:href="#tumblr-icon"></use>
                                     </svg>
                                     <span class="Share-buttons-item-label">Tumblr</span>
                                  </a> -->
                                  <!--
                                     Pinterest

                                     -->
                                  <!-- <a href="https://www.pinterest.com/pin/create/link/?description=Respect+Human+Rights%2C+Human+Effort+%26amp%3B+Human+Experience&amp;media=https://static1.squarespace.com/static/59520c72b6ac5001f352111b/595217a2b8a79bda4195dac2/595247876b8f5b75fd238eb9/1498813780004/stephanie-krist-72013.jpg&amp;url=https%3A%2F%2Froel-vansabben-4fxm.squarespace.com%2Fblog%2F2017%2F6%2F27%2Fethical-product-design-manifesto" class="Share-buttons-item Share-buttons-item-social" target="_blank" data-service="pinterest">
                                     <svg class="Share-buttons-item-icon" viewBox="0 0 64 64">
                                        <use xlink:href="#pinterest-icon"></use>
                                     </svg>
                                     <span class="Share-buttons-item-label">Pinterest</span><span class="Share-buttons-item-count">0</span>
                                  </a> -->
                                  <!--
                                     Simple Like

                                     -->
                                  <!-- <a href="#" class="Share-buttons-item Share-buttons-item--like" data-item-identifier="595247876b8f5b75fd238eb9" data-like-count="0" data-service="squarespace-like">
                                     <svg class="Share-buttons-item-icon" viewBox="0 0 64 64">
                                        <g class="svg-icon">
                                           <path d="M39.9,37.8c-7.3,4.8-7.7,6.9-7.9,7.8c-0.2-0.9-0.6-3-7.9-7.8c-16-10.6,1.4-25.4,7.9-11.7C38.5,12.4,55.9,27.3,39.9,37.8z"></path>
                                        </g>
                                     </svg>
                                     <span class="Share-buttons-item-label">0 Likes</span>
                                  </a> -->
                               </div>
                            </div>
                         </div>
                         <!-- <section id="comments-595247876b8f5b75fd238eb9" class="BlogItem-comments">
                            <div class="squarespace-comments sqs-frontend-overlay-editor-widget-host" id="comments-595247876b8f5b75fd238eb9" data-item-id="595247876b8f5b75fd238eb9" data-public-comment-count="0" data-comment-state="2"></div>
                         </section> -->
                      </article>
                      <!-- <nav class="BlogItem-pagination clear">
                         <a href="open-source-techonloly.html" class="BlogItem-pagination-link BlogItem-pagination-link--next">
                            <div class="BlogItem-pagination-link-content">
                               <div class="BlogItem-pagination-link-label">Next</div>
                               <h4 class="BlogItem-pagination-link-title">Open Source Technology</h4>
                               <div class="BlogItem-pagination-link-meta"> -->
                                  <!--
                                     Author

                                     -->
                                     <!-- <span class="BlogItem-pagination-link-meta-item BlogItem-pagination-link-meta-item-author">Roel van Sabben</span>

                                     <!-- <time class="BlogItem-pagination-link-meta-item BlogItem-pagination-link-meta-item--date" datetime="2017-06-27">June 27, 2017</time>

                                     -->
                                     <!-- <span class="BlogItem-pagination-link-meta-item BlogItem-pagination-link-meta-item--tags">Open Source</span> -->
                               <!-- </div>
                            </div> -->
                            <!--
                               -->
                            <!-- <svg class="BlogItem-pagination-link-icon" viewBox="0 0 23 48">
                               <g class="svg-icon">
                                  <polyline fill="none" stroke-miterlimit="10" points="1.5,45.7 20.4,23.5 1.5,1.3 "></polyline>
                               </g>
                            </svg> -->
                         </a>
                      </nav>
                   </section>
                </main>
             </div>
             {{ else if eq .Section "tech" }}
             <div class="Content-outer">
                <main class="Main Main--blog-item">
                   <section class="Main-content sqs-frontend-overlay-editor-widget-host" data-content-field="main-content">
                      <article class="BlogItem hentry author-roel-van-sabben post-type-text sqs-frontend-overlay-editor-widget-host" data-item-id="59525383b11be16c10922802">
                         <h1 class="BlogItem-title" data-content-field="title">{{ .Params.header }}</h1>
                         <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Post Body" data-type="item" data-updated-on="1498567633176">
                            <div class="row">
                               <div class="col-sm-2 col-xs-12"></div>
                               <div class="col-sm-8 col-xs-12">
                                  <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5">
                                     <div class="sqs-block-content">
                                        <div class="image-block-outer-wrapper layout-caption-below design-layout-inline">
                                           <div class="intrinsic" style="max-width:900.0px;">
                                              <div style="padding-bottom:56.11111068725586%;" class="image-block-wrapper has-aspect-ratio" data-description="">
                                                 <noscript><img src="../../img/{{ .Params.image }}"  /></noscript>
                                                 <img class="thumb-image loaded" data-src="../../img/{{ .Params.image }}" data-image="../../img/{{ .Params.image }}" data-image-dimensions="900x505" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="595253df9de4bb54f0100503" data-type="image" style="top: 0%; left: 0%; width: 100%; height: 100%; position: absolute;" src="../../img/{{ .Params.image }}" data-image-resolution="1000w">
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44">
                                     <div class="sqs-block-content">{{ .Content }}</div>
                                  </div>
                               </div>
                               <div class="col-sm-2 col-xs-12"></div>
                            </div>
                         </div>
                         <div class="Blog-meta BlogItem-meta">
                            <!-- Author -->
                            <a href="https://roel-vansabben-4fxm.squarespace.com/tech/?author=591c0e1e2e69cf6faf67d1bb" class="Blog-meta-item Blog-meta-item--author">Roel van Sabben</a>
                            <!-- Date -->
                            <time class="Blog-meta-item Blog-meta-item--date" datetime="2017-06-27">June 27, 2017</time>
                         </div>
                      </article>
                      <!-- <nav class="BlogItem-pagination clear">
                         <a href="internet-is-growing-wild.html" class="BlogItem-pagination-link BlogItem-pagination-link--next">
                            <div class="BlogItem-pagination-link-content">
                               <div class="BlogItem-pagination-link-label">Next</div>
                               <h4 class="BlogItem-pagination-link-title">INTERNET IS GROWING WILD.</h4>
                               <div class="BlogItem-pagination-link-meta"> -->
                                  <!-- Author -->
                                  <!-- <span class="BlogItem-pagination-link-meta-item BlogItem-pagination-link-meta-item--author">Roel van Sabben</span> -->
                                  <!-- Date -->
                                  <!-- <time class="BlogItem-pagination-link-meta-item BlogItem-pagination-link-meta-item--date" datetime="2017-06-27">June 27, 2017</time>
                               </div>
                            </div>
                            <svg class="BlogItem-pagination-link-icon" viewBox="0 0 23 48">
                               <g class="svg-icon">
                                  <polyline fill="none" stroke-miterlimit="10" points="1.5,45.7 20.4,23.5 1.5,1.3 "></polyline>
                               </g>
                            </svg>
                         </a>
                      </nav> -->
                   </section>
                </main>
             </div>
            {{end}}

      </div>
       {{ partial "footer.html" . }}
   </div>
</body>
</html>
