<main class="Main">
   <section class="Main-content">
      <div class="sqs-layout">
         <div class="row">
            <div class="col-sm-1 col-xs-12"></div>
            <div class="col-sm-10 col-xs-12">
               <div class="sqs-block-content sqs-intrinsic" style="padding-bottom: 6.30342%;">&nbsp;</div>
               <div class="row">
                  <div class="col-sm-4 col-xs-12">
                     <div class="sqs-block image-block sqs-block-image sqs-text-ready">
                        <div class="sqs-block-content">
                           <div class="image-block-outer-wrapper layout-caption-below design-layout-inline sqs-narrow-width">
                              <div class="intrinsic" style="max-width:500.0px;">
                                 <div style="padding-bottom:120.0%;" class="image-block-wrapper   has-aspect-ratio">
                                    <img class="thumb-image loaded" style="top: 0%; left: -10.0282%; width: 120.056%; height: 100%; position: absolute;" alt="{{ .Params.name }}" src="{{ .Params.image }}">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                     <div class="sqs-block markdown-block sqs-block-markdown">
                        <div class="sqs-block-content">
                           <p><strong> {{ .Params.name }} </strong></p>
                           <p>{{ .Content }}</p>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-xs-12">
                           <div class="sqs-block button-block sqs-block-button">
                              <div class="sqs-block-content">
                                 <div>
                                    {{ if and ( .Params.linkedin ) ( .Params.linkedin_txt ) }}
                                    <a href="{{ .Params.linkedin }}" class="sqs-block-button-element--small sqs-block-button-element">{{ .Params.linkedin_txt }}</a>
                                    {{end}}
                                    {{ if and ( .Params.twitter ) ( .Params.twitter_txt ) }}
                                    <a href="{{ .Params.twitter }}" class="sqs-block-button-element--small sqs-block-button-element">{{ .Params.twitter_txt }}</a>
                                    {{end}}
                                    {{ if and ( .Params.telegram ) ( .Params.telegrem_txt ) }}
                                    <a href="{{ .Params.telegram }}" class="sqs-block-button-element--small sqs-block-button-element">{{ .Params.telegrem_txt }}</a>
                                    {{end}}
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-2 col-xs-12"></div>
         </div>
       </div>
     </section>
   </main>
