   <section class="Intro" data-parallax-original-element="" data-parallax-id="5952504a8419c28caf6791e9">
      <div class="sqs-layout sqs-grid-12 columns-12 Intro-content empty" data-layout-label="Intro" data-type="block-field" id="5952504a8419c28caf6791e9_intro">
         <div class="row sqs-row">
            <div class="col sqs-col-12 span-12"></div>
         </div>
      </div>
   </section>
   <main class="Main Main--blog-list">
      <section class="Main-content" data-content-field="main-content">
         <section class="BlogList BlogList--posts-excerpt sqs-blog-list clear" data-columns="3">
            <article id="post-59525383b11be16c10922802" class="BlogList-item hentry author-roel-van-sabben post-type-text article-index-1" data-item-id="59525383b11be16c10922802">
               <div class="BlogList-item-image">
                  <a href="/myth-big-datacenters-are-efficient" class="BlogList-item-image-link" style="overflow: hidden;">
                  <img data-src="../img/{{ .Params.first_tech_pic }}" data-image="../img/{{ .Params.first_tech_pic }}" data-image-dimensions="900x505" data-image-focal-point="0.5,0.5" data-load="false" style="top: 0px; left: -121px; width: 553px; height: 310px; position: relative;" alt="Myth: Big Datacenters Are Efficient" class="" src="../img/{{ .Params.first_tech_pic_thumb }}" data-image-resolution="750w">
                  </a>
               </div>
               <a href="/myth-big-datacenters-are-efficient" class="BlogList-item-title" data-content-field="title">{{ .Params.first_tech_title }}</a>
               <div class="BlogList-item-excerpt">
                  <p>{{ .Params.first_tech_subtitle }}</p>
                  <a href="/myth-big-datacenters-are-efficient" class="BlogList-item-readmore"></a>
               </div>
               <div class="Blog-meta BlogList-item-meta">
                  <!-- Author--><a href="/?author=591c0e1e2e69cf6faf67d1bb" class="Blog-meta-item Blog-meta-item--author">{{ .Params.first_tech_author }}</a><!--
                     Date

                     --><time class="Blog-meta-item Blog-meta-item--date" datetime="2017-06-27">June 27, 2017</time>
               </div>
            </article>
            <article id="post-5952520920099e11d3eda618" class="BlogList-item hentry author-roel-van-sabben post-type-text article-index-2" data-item-id="5952520920099e11d3eda618">
               <div class="BlogList-item-image">
                  <a href="/internet-is-growing-wild" class="BlogList-item-image-link" style="overflow: hidden;">
                  <img data-src="../img/{{ .Params.second_tech_pic }}" data-image="../img/a.jpg" data-image-dimensions="1500x1099" data-image-focal-point="0.5,0.5" data-load="false" style="top: 0px; left: -57px; width: 424px; height: 310px; position: relative;" alt="INTERNET IS GROWING WILD." class="" src="../img/{{ .Params.second_tech_pic_thumb }}" data-image-resolution="500w">
                  </a>
               </div>
               <a href="/internet-is-growing-wild" class="BlogList-item-title" data-content-field="title">{{ .Params.second_tech_title }}</a>
               <div class="BlogList-item-excerpt">
                  <p>{{ .Params.second_tech_subtitle }}</p>
                  <a href="/internet-is-growing-wild" class="BlogList-item-readmore"></a>
               </div>
               <div class="Blog-meta BlogList-item-meta">
                  <!--
                     Author

                     --><a href="/?author=591c0e1e2e69cf6faf67d1bb" class="Blog-meta-item Blog-meta-item--author">{{ .Params.second_tech_author }}</a><!--
                     Date

                     --><time class="Blog-meta-item Blog-meta-item--date" datetime="2017-06-27">June 27, 2017</time>
               </div>
            </article>
            <article id="post-5952517dc534a50aa6915853" class="BlogList-item hentry author-roel-van-sabben post-type-text article-index-3" data-item-id="5952517dc534a50aa6915853">
               <div class="BlogList-item-image">
                  <a href="/what-can-i-do-with-the-new-edge-cloud" class="BlogList-item-image-link" style="overflow: hidden;">
                  <img data-src="../img/{{ .Params.third_tech_pic }}" data-image="../img/{{ .Params.third_tech_pic }}" data-image-dimensions="2500x1667" data-image-focal-point="0.5,0.5" data-load="false" style="top: 0px; left: -77px; width: 465px; height: 310px; position: relative;" alt="What can I do with the new Edge Cloud?" class="" src="../img/{{ .Params.third_tech_pic_thumb }}" data-image-resolution="500w">
                  </a>
               </div>
               <a href="/what-can-i-do-with-the-new-edge-cloud" class="BlogList-item-title" data-content-field="title">{{ .Params.third_tech_title }}</a>
               <div class="BlogList-item-excerpt">
                  <p><strong>{{ .Params.third_tech_subtitle }}</strong></p>
                  <a href="what-can-i-do-with-the-new-edge-cloud" class="BlogList-item-readmore"></a>
               </div>
               <div class="Blog-meta BlogList-item-meta">
                  <!--
                     Author

                     --><a href="/?author=591c0e1e2e69cf6faf67d1bb" class="Blog-meta-item Blog-meta-item--author">{{ .Params.third_tech_author }}</a><!--
                     Date

                     --><time class="Blog-meta-item Blog-meta-item--date" datetime="2017-06-27">June 27, 2017</time>
               </div>
            </article>
            <article id="post-5952510936e5d30f950cdf6a" class="BlogList-item hentry author-roel-van-sabben post-type-text article-index-4" data-item-id="5952510936e5d30f950cdf6a">
               <div class="BlogList-item-image">
                  <a href="/10x-power-savings" class="BlogList-item-image-link" style="overflow: hidden;">
                  <img data-src="../img/{{ .Params.fourth_tech_pic_thumb }}" data-image="../img/{{ .Params.fourth_tech_pic_thumb }}" data-image-dimensions="1500x1138" data-image-focal-point="0.5,0.5" data-load="false" style="top: 0px; left: -49px; width: 409px; height: 310px; position: relative;" alt="10x Power Savings " class="" src="../img/{{ .Params.fourth_tech_pic_thumb }}" data-image-resolution="500w">
                  </a>
               </div>
               <a href="/2017/6/27/10x-power-savings" class="BlogList-item-title" data-content-field="title">{{ .Params.fourth_tech_title }} </a>
               <div class="BlogList-item-excerpt">
                  <p>{{ .Params.fourth_tech_subtitle }}</p>
                  <a href="/2017/6/27/10x-power-savings" class="BlogList-item-readmore"></a>
               </div>
               <div class="Blog-meta BlogList-item-meta">
                  <!--
                     Author

                     --><a href="?author=591c0e1e2e69cf6faf67d1bb" class="Blog-meta-item Blog-meta-item--author">{{ .Params.fourth_tech_author }}</a><!--
                     Date

                     --><time class="Blog-meta-item Blog-meta-item--date" datetime="2017-06-27">June 27, 2017</time>
               </div>
            </article>
         </section>
      </section>
   </main>
