@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../fonts/OpenSans-Semibold.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.ttf) format('ttf');
}
body {
  font-family: Open Sans;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 1.6em;
  text-transform: none;
}
body.tweak-site-width-option-constrained-width {
  background-color: #fafafa;
}
h1 {
    font-size: 23px;
    letter-spacing: .2em;
    line-height: 1.2em;
    text-transform: uppercase;
  }
h2{
    font-size: 16px;
    letter-spacing: -.01em;
    line-height: 1.4em;
    text-transform: none;
}
h3 {
    font-size: 16px;
    letter-spacing: .15em;
    line-height: 2em;
    text-transform: none;
    /*color: #474747;*/
}
.left {
  text-align: left;
}
.Site-inner, header, .navbar-toggle .icon-bar, .content-404, .logo-container, .Footer .linked  {
  background-color: #fff;
}
.Site-inner {
  padding-bottom: 40px;
  min-height: 133px;
}
.tweak-blog-list-style-grid .BlogList-item {
  float: none;
}
.tweak-site-border-show .Site {
  border: none;
}
.clear-fix {
  clear: both;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
header {
  text-align: center;
}
.tweak-header-primary-nav-hover-style-active .Header-nav .Header-nav-item, .list a:hover, .info a:hover {
  color: #fff;
}
body, .tweak-header-primary-nav-hover-style-active .Header-nav .Header-nav-item:hover, .sqs-block-content-home h1 {
  color: #757575;
}
.nav>li>a:hover {
  background-color: transparent;
}
.Header-nav {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: .18em;
  text-transform: uppercase;
}
.smallScreen {
  display: none;
}
h2 {
  font-size: 25px;
  letter-spacing: 0.08em;
  line-height:1em;
}
h3 {
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 3.8em;
}
a {
  text-decoration: none;
}
.BlogList-item-excerpt{
  font-size: 15px;
  line-height: 1.2em;
}
.sqs-block-content-home {
  text-align: center;
}
.sqs-block-content-home h1{
  margin: .67em 0;
}

.sqs-block-content h3{
  text-align: left;
}

.sqs-block-team h3 {
  float: left !important;
}
.sqs-block-button .sqs-block-button-element--small {
  letter-spacing: 0.1em;
}
.Footer {
  padding-top: 40px;
}
footer .sqs-block-content h3 {
  float: none !important;
}
.Footer .info {
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.list, .info {
  list-style-type: none;
  color: #fff !important;
  line-height: 2em;
}
.list h4 {
  text-transform: none;
  font-weight: 200;
  font-size: 13px;
  line-height: 1.2em;
  width: 115px;
}
.info img {
  height: 50px;
  width: 50px;
}
.list a, .info a {
  text-decoration: underline;
  /*font-size: 0.813em;*/
  font-weight: 200;
}
.content-404 p{
  margin: 59px auto;
  text-align: center;
}
/*header style*/
.Site header {
  background-image:url(/img/download.png);
  background-repeat: no-repeat;
  background-position:center;
  height: 345px;
}
.logo-container img {
  display: block;
  max-width: 240px;
  margin: auto;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-fixed-top {
  margin-top: 100px;
  float: right;
}
.navbar-brand {
  display: none;
  padding: 0 15px;
}
.navbar-brand img {
  width: 92px;
  margin: 8px;
}
.logo {
  margin-top: 20px;
  height: 50px;
}
header .introWords {
  margin-top: 30px;
  float: left;
}
header .introWords h1 {
  color: rgba(255,255,255,.7);
  text-align: left;
}
header .introWords h2 {
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: -.01em;
  line-height: 1.4em;
  text-align: left;
}
.Footer .logo {
  margin-top: 5px;
  width: 117px;
  height: 117px;
}
.Footer .linked {
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.Footer .linked:hover {
  color: #000;
}
.Footer .address {
  margin-top: 19px;
  text-align: left;
}
.copyright {
  background-color: #546A86;
  padding: 20px 0;
  margin-top: 40px;
  text-align: center;
  color: #abb7b9;
  line-height: 1.2em;
}
.copyright .copy {
  text-transform: uppercase;
}
.fa-2 {
  font-size: 2.8em;
}
.navbar.navbar-fixed-top.fixed-theme {
    margin-top: 0px;
}
.navbar-container.fixed-theme {
    padding: 0;
}
.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
.Footer .linked {
  color: #546A86;
}
/*Sticky navbar*/
.navbar-fixed {
  position: fixed;
  top: 0;
  margin-top: 0px;
}
.BlogList-item-excerpt p, .BlogList-item-title {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 1.6em;
    text-transform: none;
}
.BlogList-item-title {
    color: #6ca2e7;
    -webkit-transition: color .15s ease-out;
    -moz-transition: color .15s ease-out;
    -ms-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;
    padding-bottom: .05em;
    border-bottom-width: 1px;
    /*border-bottom-style: solid;*/
    border-bottom-color: rgba(108,162,231,.3);
    -webkit-transition: border-color .15s ease-out,color .15s ease-out;
    -moz-transition: border-color .15s ease-out,color .15s ease-out;
    -ms-transition: border-color .15s ease-out,color .15s ease-out;
    -o-transition: border-color .15s ease-out,color .15s ease-out;
    transition: border-color .15s ease-out,color .15s ease-out;
}
.BlogList-item-title:hover {
  color: rgba(108,162,231,.6);
  border-color: rgba(108,162,231,.15);
}
.BlogList-item {
  margin-top: 50px;
}
.BlogList-item a {
  text-transform: uppercase;
}
.affix, .affix-top, .navbar-fixed, .Footer, .Site header, .navbar.navbar-fixed-top.fixed-theme  {
  background-color: #699ee2;
}
#nav.affix {
    position: fixed;
    top: 0 !important;
    left: 0;
    width: 100%;
    z-index:10;
    padding-right:0px;
}
.affix + .row {
    padding-top:73px;
}
.info {
  line-height: 2em;
}
.about {
  padding-top: 20px;
}
/* Media Queries */
@media only screen and (max-width: 767px) {
  .Header-branding {
    display: none;
  }
  .navbar-brand img {
    width: 100px;
  }
  .smallScreen {
    display: block;
  }
  .smallScreen img {
      max-width: 115px;
      margin: 25px 10px 20px;
  }
  header {
    text-align: left;
  }
  .Site header {
    background-size: 90%;
  }
  .navbar .navbar-nav {
    float: left;
  }
  .navbar-header {
    min-height: 60px;
  }
  .navbar-toggle {
    margin-top: 18px;
  }
  .Footer .info {
    text-align: center;
    margin-top: 20px;
  }
  .list {
    line-height: 1.6em;
  }
  .list li, .info li {
    display: inline-block;
    padding-right: 5px;
  }
  .list li {
    vertical-align: middle;
  }
  .list li a {
    font-size: 0.813em;
  }
  .list li:last-of-type, .info li:last-of-type {
    padding-right: 0px;
  }
  .info li {
    display: block;
  }
  .Footer .followBtn {
    margin-top: 10px;
  }
  .Footer .linked {
    padding: 5px 100px;
    margin-top: 10px;
  }
  .sqs-block-button .sqs-block-button-element--small {
    width: 100%;
    margin-bottom: 10px;
  }
  .navbar-brand {
    display: block;
  }
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
  .navbar-nav {
    float: none;
  }
  .navbar-nav>li {
    margin: 5px 0;
  }
  .sqs-block-button .sqs-block-button-element--small {
    width: 30%;
  }
}
@media only screen and (max-width: 320px) {
  .list {
    line-height: 1.6em;
  }
  .list a, .info a {
    font-size: 0.625em;
  }
  .Footer .linked {
    padding: 5px 85px;
  }
  .sqs-block-button .sqs-block-button-element--small {
    width: 100%;
  }
}
