html {
    font-family: "'Open Sans'", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    pointer-events: auto
}
body {
    margin: 0;
    letter-spacing: 0;
    font: normal 400 14px/1.6em 'Open Sans', sans-serif;
    letter-spacing: .14em;
    line-height: 2.2em;
    text-transform: none;
    color: rgba(0, 0, 0, .7)
}
article,
footer,
main,
nav,
section {
    display: block
}
canvas {
    display: inline-block;
    vertical-align: baseline
}
a {
    background-color: transparent;
    color: inherit;
    text-decoration: none
}
a:active,
a:hover {
    outline: 0
}
strong {
    font-weight: bold
}
h1 {
    margin: .67em 0;
    letter-spacing: 0;
    font: normal 400 38px/1em 'Open Sans', sans-serif;
    text-transform: none;
    letter-spacing: .14em;
    line-height: 1.2em;
    text-transform: uppercase
}
img {
    border: 0
}
button {
    color: inherit;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer
}
button::-moz-focus-inner {
    border: 0;
    padding: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td {
    padding: 0
}
.clear:after {
    display: block;
    visibility: hidden;
    font-size: 0;
    height: 0;
    clear: both;
    content: "."
}
.sqs-block.vsize-1 .sqs-block-content {
    height: 34px
}
.sqs-block.sized .sqs-block-content {
    overflow: hidden
}
.text-align-center {
    text-align: center;
    padding-bottom: 20px
}
.sqs-block, .inter-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    outline: 0;
    box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0);
    -webkit-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out
}
.sqs-block:not(.sqs-block-html):not(.sqs-block-markdown), .sqs-block:not(.sqs-block-html):not(.inter-markdown) {
    clear: both
}
html .sqs-block.sqs-block-html .sqs-block-content {
    cursor: auto
}
.sqs-block-code img {
    max-width: 100%
}
.sqs-block-code .gm-style img {
    max-width: none
}
.Blog-meta {
    /* display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; */
    letter-spacing: 0;
    text-transform: none;
    font: normal 900 10px 'Open Sans', sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: rgba(82, 82, 82, .7)
}
.Blog-meta a {
    color: rgba(82, 82, 82, .7);
    -webkit-transition: color .15s ease-out;
    -moz-transition: color .15s ease-out;
    -ms-transition: color .15s ease-out;
    transition: color .15s ease-out;
    text-decoration: none
}
.Blog-meta a:hover {
    color: rgba(82, 82, 82, .35)
}
.tweak-blog-meta-primary-author .faq-author, .tweak-blog-meta-primary-author .info-author {
    display: inline
}
.BlogList-item, .openSource-item {
    display: block;
    margin-top: 100px;
    margin-bottom: -11px;
    text-align: center
}
.faq-image, .info-image {
    position: relative;
    margin-bottom: 17.798000000000002px;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1
}
.tweak-blog-list-item-image-show .faq-image, .tweak-blog-list-item-image-show .info-image {
    display: block
}
.BlogList-item-image:before {
    content: '';
    display: block
}
.tweak-blog-list-style-grid.tweak-blog-list-item-image-aspect-ratio-grid-11-square .BlogList-item-image:before {
    padding-bottom: 100%
}
.openSource-link {
    display: block;
    line-height: 0;
    overflow: hidden
}
.info-image img, .faq-image img {
    max-width: 100%;
    max-height: 100%
}
.sqs-block-content-home a, .content-home a {
    color: #6ca2e7;
    text-decoration: none;
    border-bottom: 1px solid rgba(108, 162, 231, .3)!important
}
.sqs-block-content-home a:hover, .content-home a:hover {
    /* color: rgba(108, 162, 231, .6)!important; */
    text-decoration: none;
    border-bottom: 1px solid rgba(108, 162, 231, .15)!important
}
.tweak-blog-list-item-title-show .faq-title, .tweak-blog-list-item-title-show .info-title {
    display: block
}
.faq-title, .info-title, .tweak-blog-list-alignment-center .BlogList-item-title {
    text-align: center;
    font: normal 200 16px/1.8em 'Open Sans', sans-serif;
    letter-spacing: .02em;
    /* text-transform: uppercase; */
    text-decoration: none;
}
.faq-excerpt, .info-excerpt {
    margin-bottom: 11px;
    letter-spacing: 0;
    font: normal 400 11px/1.6em 'Open Sans';
    text-transform: none;
    letter-spacing: .11em;
    line-height: 2.6em;
    /* text-transform: uppercase; */
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5
}
.faq-excerpt p:first-of-type, .info-excerpt p:first-of-type {
    margin-top: 0
}
.faq-excerpt p:last-of-type, .info-excerpt p:last-of-type {
    margin-bottom: 0
}
.tweak-blog-list-item-excerpt-show .BlogList-item-excerpt {
    display: block
}
.tweak-blog-list-alignment-center .BlogList-item-excerpt {
    text-align: center
}
.faq-readmore, .info-readmore {
    vertical-align: baseline;
    font: normal 400 14px 'din-condensed-web';
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
    color: #1d1d1d;
    -webkit-transition: color .15s ease-out;
    -moz-transition: color .15s ease-out;
    -ms-transition: color .15s ease-out;
    transition: color .15s ease-out;
    white-space: nowrap
}
.faq-readmore:hover, .info-readmore:hover {
    color: rgba(29, 29, 29, .5)
}
/* .BlogList-item-readmore:before {
    content: 'Read More \2192'
} */
.tweak-blog-list-item-readmore-hide .BlogList-item-readmore {
    display: none
}
.tweak-blog-list-alignment-center .BlogList-item-readmore {
    text-align: center
}
.tweak-blog-meta-primary-author .BlogList-item-meta {
    margin-bottom: 11px
}
.tweak-blog-list-item-meta-position-above-title .BlogList-item-meta {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2
}
.tweak-blog-list-alignment-center .BlogList-item-meta {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center
}
/* .tweak-blog-list-style-grid .BlogList-item {
    float: left
} */
.ProductItem-details [data-unselected-options='[]']:not([data-selected-variant])~.sqs-add-to-cart-button-wrapper .sqs-add-to-cart-button {
    cursor: default;
    opacity: .4
}
.ProductItem-details [data-unselected-options='[]']:not([data-selected-variant])~.sqs-add-to-cart-button-wrapper .sqs-add-to-cart-button:hover {
    opacity: .4
}
.tweak-product-item-details-add-to-cart-button-style-outline .ProductItem-details [data-unselected-options='[]']:not([data-selected-variant])~.sqs-add-to-cart-button-wrapper .sqs-add-to-cart-button {
    background-color: transparent;
    color: #222
}
.social-icons-color-standard.social-icons-style-border .sqs-svg-icon--wrapper:not(:hover) {
    background-color: transparent
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .fivehundredpix:not(:hover) {
    background-color: rgba(0, 153, 229, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .bandsintown:not(:hover) {
    background-color: rgba(0, 180, 179, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .behance:not(:hover) {
    background-color: rgba(23, 105, 255, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .chownow:not(:hover) {
    background-color: rgba(220, 93, 84, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .codepen:not(:hover) {
    background-color: rgba(34, 34, 34, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .dribbble:not(:hover) {
    background-color: rgba(234, 76, 137, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .dropbox:not(:hover) {
    background-color: rgba(0, 126, 229, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .email:not(:hover) {
    background-color: rgba(34, 34, 34, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .facebook:not(:hover) {
    background-color: rgba(59, 89, 152, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .flickr:not(:hover) {
    background-color: rgba(0, 99, 220, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .foursquare:not(:hover) {
    background-color: rgba(249, 72, 119, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .github:not(:hover) {
    background-color: rgba(65, 131, 196, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .goodreads:not(:hover) {
    background-color: rgba(56, 33, 16, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .googleplay:not(:hover) {
    background-color: rgba(90, 223, 203, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .google:not(:hover) {
    background-color: rgba(220, 78, 65, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .houzz:not(:hover) {
    background-color: rgba(122, 193, 67, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .imdb:not(:hover) {
    background-color: rgba(230, 185, 30, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .instagram:not(:hover) {
    background-color: rgba(228, 64, 95, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .itunes:not(:hover) {
    background-color: rgba(236, 70, 82, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .linkedin:not(:hover) {
    background-color: rgba(9, 118, 180, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .medium:not(:hover) {
    background-color: rgba(0, 171, 108, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .meetup:not(:hover) {
    background-color: rgba(224, 57, 62, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .pinterest:not(:hover) {
    background-color: rgba(204, 33, 39, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .rdio:not(:hover) {
    background-color: rgba(0, 110, 210, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .reddit:not(:hover) {
    background-color: rgba(255, 69, 0, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .rss:not(:hover) {
    background-color: rgba(34, 34, 34, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .smugmug:not(:hover) {
    background-color: rgba(125, 187, 0, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .snapchat:not(:hover) {
    background-color: rgba(34, 34, 34, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .soundcloud:not(:hover) {
    background-color: rgba(255, 102, 0, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .spotify:not(:hover) {
    background-color: rgba(132, 189, 0, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .squarespace:not(:hover) {
    background-color: rgba(34, 34, 34, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .stitcher:not(:hover) {
    background-color: rgba(30, 169, 225, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .stumbleupon:not(:hover) {
    background-color: rgba(235, 73, 36, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .tidal:not(:hover) {
    background-color: rgba(34, 34, 34, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .tumblr:not(:hover) {
    background-color: rgba(53, 70, 93, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .twitch:not(:hover) {
    background-color: rgba(100, 65, 165, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .twitter:not(:hover) {
    background-color: rgba(85, 172, 238, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .vevo:not(:hover) {
    background-color: rgba(255, 0, 49, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .vimeo:not(:hover) {
    background-color: rgba(26, 183, 234, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .vine:not(:hover) {
    background-color: rgba(0, 180, 136, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .vsco:not(:hover) {
    background-color: rgba(174, 153, 90, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .yelp:not(:hover) {
    background-color: rgba(196, 18, 0, .4)
}
.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .youtube:not(:hover) {
    background-color: rgba(229, 45, 39, .4)
}
.sqs-block-markdown, .inter-markdown {
    clear: none
}
.sqs-block-html {
    clear: none
}
.sqs-block-html .sqs-block-content {
    outline: 0
}
.sqs-block-html .sqs-block-content *:not(h1):not(h2):not(h3) {
    word-wrap: break-word
}
.sqs-block-html .sqs-block-content>*:first-child {
    margin-top: 0
}
.sqs-block-html .sqs-block-content>*:last-child {
    margin-bottom: 0
}
.sqs-block-spacer .sqs-block-content {
    visibility: hidden
}
.sqs-announcement-bar {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #1d1d1d;
    text-align: center;
    -webkit-transition: height .3s cubic-bezier(.23, 1, .32, 1);
    -moz-transition: height .3s cubic-bezier(.23, 1, .32, 1);
    -ms-transition: height .3s cubic-bezier(.23, 1, .32, 1);
    -o-transition: height .3s cubic-bezier(.23, 1, .32, 1);
    transition: height .3s cubic-bezier(.23, 1, .32, 1);
    z-index: 1000
}
.sqs-announcement-bar-text {
    padding: .8em 3em;
    letter-spacing: 1px;
    font: normal 300 13px/1.2em 'Open Sans', sans-serif;
    letter-spacing: .06em;
    text-transform: none
}
.sqs-announcement-bar-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 2.8em;
    height: 2.78em;
    background: rgba(0, 0, 0, .15);
    color: #fff
}
.sqs-announcement-bar-close:after {
    content: '×';
    display: block;
    font: 100 1em/2.7em helvetica, arial, sans-serif;
    letter-spacing: normal;
    padding: 0
}
.sqs-announcement-bar-hidden {
    height: 0!important
}
@media screen and (max-width: 1024px) {
    .sqs-announcement-bar-text {
        font-size: 13px
    }
}
@media screen and (max-width: 640px) {
    .sqs-layout .spacer-block {
        display: none
    }
}
body.tweak-site-width-option-constrained-width {
    background-color: #ced8da;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}
.Main-content,
.Index-page-content, .map-content {
    -webkit-animation: anim-opacity-full 480ms ease-out;
    animation: anim-opacity-full 480ms ease-out
}
p:first-child {
    margin-top: 0
}
p:last-child {
    margin-bottom: 0
}
h1,
h2 {
    text-rendering: optimizeLegibility
}
/* h1:first-child {
    margin-top: 0
} */
h2:last-child {
    margin-bottom: 0
}
/* @media screen and (max-width: 640px) {
    h1 {
        font-size: 32px;
        letter-spacing: .11789473684210527px
    }
} */
h2 {
    letter-spacing: 0;
    font: normal 300 24px/1.2em 'Open Sans', sans-serif;
    text-transform: none;
    letter-spacing: .32em;
    line-height: 1em;
    text-transform: uppercase;
    color: #4d4d4d
}
h1+h2 {
    margin-top: 15px
}
@media screen and (max-width: 640px) {
    h1,
    h2 {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto
    }
}
a:active,
a:focus {
    outline: 0
}
.sqs-block-markdown p a, .inter-markdown p a {
    color: #6ca2e7;
    text-decoration: none;
    -webkit-transition: color .15s ease-out;
    -moz-transition: color .15s ease-out;
    -ms-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;
    padding-bottom: .05em;
    border-bottom: 1px solid rgba(82, 82, 82, .18);
    -webkit-transition: border-color .15s ease-out, color .15s ease-out;
    -moz-transition: border-color .15s ease-out, color .15s ease-out;
    -ms-transition: border-color .15s ease-out, color .15s ease-out;
    -o-transition: border-color .15s ease-out, color .15s ease-out;
    transition: border-color .15s ease-out, color .15s ease-out
}
.sqs-block-markdown p a:hover, .inter-markdown p a:hover {
    color: rgba(82, 82, 82, .36);
    border-color: rgba(82, 82, 82, .09)
}
.tweak-site-border-show .Site {
    border: 2px solid #e2dfe1
}
.tweak-site-width-option-constrained-width .Site {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto
}
.Site-inner {
    position: relative
}
.Parallax-host {
    display: none
}
.tweak-overlay-parallax-enabled .Index-page--has-image {
    background-color: transparent
}
.tweak-overlay-parallax-enabled .Parallax-host {
    display: block
}
.Main {
    /* background-color: #fff; */
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}
/* .Main-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 19px 25px
} */
@media screen and (max-width: 640px) {
    .Main-content {
        padding-left: 20px;
        padding-right: 20px
    }
}
.Footer {
    /* display: none; */
    background-color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}
.tweak-footer-show .Footer {
    display: block
}
.Footer-inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 75px 25px
}
@media screen and (max-width: 1024px) {
    .Footer-inner {
        padding-top: 64px;
        padding-bottom: 64px
    }
}
@media screen and (max-width: 960px) {
    .Footer-inner {
        padding-top: 48px;
        padding-bottom: 48px
    }
}
@media screen and (max-width: 768px) {
    .Footer-inner {
        padding-top: 36px;
        padding-bottom: 36px
    }
}
@media screen and (max-width: 640px) {
    .Footer-inner {
        padding-top: 20px;
        padding-bottom: 20px
    }
}
@media screen and (max-width: 640px) {
    .Footer-inner {
        padding-left: 20px;
        padding-right: 20px
    }
}
.Footer-business-info {
    display: none;
    letter-spacing: 0;
    font: normal 300 18px/1em 'Open Sans', sans-serif;
    letter-spacing: .06em;
    text-transform: none;
    color: #1d1d1d
}
.Footer-business-hours {
    display: none;
    letter-spacing: 0;
    font: normal 300 18px/1em 'Open Sans', sans-serif;
    letter-spacing: .06em;
    text-transform: none;
    color: #000
}
.Footer-business-hours-heading {
    letter-spacing: 0;
    font: normal 300 18px/1em 'Open Sans', sans-serif;
    letter-spacing: .06em;
    text-transform: none;
    color: #000
}
.tweak-footer-layout-stacked .Footer-business-info-item,
.tweak-footer-layout-stacked .Footer-business-hours-heading {
    display: inline-block
}
.tweak-footer-layout-stacked .Footer-business-info,
.tweak-footer-layout-stacked .Footer-business-hours {
    padding: 20px 0
}
.tweak-footer-layout-stacked .Footer-business-hours-heading {
    padding-right: .618em
}
.tweak-footer-layout-stacked .Footer-business-hours-heading:last-child {
    padding-right: 0
}
.tweak-footer-layout-stacked.tweak-footer-stacked-alignment-center .Footer-business {
    text-align: center
}
.Header-nav {
    white-space: nowrap;
    font: normal 400 15px/1em 'Open Sans', sans-serif;
    letter-spacing: 0;
    letter-spacing: .17em;
    text-transform: uppercase
}
.Header-nav-item {
    -webkit-transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
    display: inline-block;
    vertical-align: middle
}
.tweak-header-primary-nav-hover-style-active .Header-nav .Header-nav-item {
    color: #666765
}
.tweak-header-primary-nav-hover-style-active .Header-nav .Header-nav-item:hover {
    color: #8cb53c
}
.Index-page, .map-page {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}
.Index-page--has-image {
    /* background-color: #322f2f; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff
}
/* .Index-page--has-image h1 {
    color: rgba(34, 34, 34, .9)
} */
.Index-page--has-image h2 {
    color: #fff
}
.Index-page-content, .map-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 25px
}
@media screen and (max-width: 640px) {
    .Index-page-content, .map-content {
        padding-left: 20px;
        padding-right: 20px
    }
}
.Index-page--has-image .Index-page-content {
    position: relative;
    z-index: 2;
    padding-top: 175px;
    /* padding-bottom: 175px */
}
@media screen and (max-width: 960px) {
    .Index-page--has-image .Index-page-content {
        padding-top: 120px;
        /*padding-bottom: 120px*/
    }
}
@media screen and (max-width: 640px) {
    .Index-page--has-image .Index-page-content {
        padding-top: 60px;
        /*padding-bottom: 60px*/
    }
}
@-moz-keyframes anim-opacity-full{
    0% {
        opacity: 0
    }
        100% {
        opacity: 1
    }
}
@-webkit-keyframes anim-opacity-full {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes anim-opacity-full {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes anim-opacity-half {
    0% {
        opacity: 0
    }
        50% {
        opacity: 0
    }
        100% {
        opacity: 1
    }
}
@keyframes anim-opacity-99 {
    0% {
        opacity: 0
    }
        99% {
        opacity: 0
    }
        100% {
        opacity: 1
    }
}
